@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

/* TODO: fix this styling for themes */
:host {
  --height: 8rem;

  color: var(--manifold-text-color);
  font-family: var(--manifold-font-family);
}

.comment {
  color: white;
  opacity: 0.6;
}

.env {
  margin: 0;
  padding: 1.5rem;
  color: #ea62b3;
  font-size: 1em;
  font-family: var(--manifold-font-family-monospace);
  border-radius: var(--manifold-radius);
}

.env-value {
  color: var(--manifold-color-secondary);
}

.screen-left,
.screen-right {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: var(--manifold-grayscale-100i);
  transition: transform 250ms var(--manifold-ease-sharp), opacity 150ms linear;
}

.screen-left {
  left: 0;
  width: calc(50% + 2rem);
}

.screen-right {
  right: 0;
  width: 50%;
}

.hidden {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  font-size: var(--manifold-font-d1);
  transition: transform 250ms var(--manifold-ease-sharp), opacity 250ms linear;

  & manifold-button {
    margin-top: 1rem;
    transform: translateX(-50%);
  }
}

.credential {
  position: relative;
  display: flex;
  min-height: var(--height);
  overflow: hidden;
  color: var(--manifold-grayscale-70i);
  background: var(--manifold-grayscale-90);
  border-radius: var(--manifold-radius);
  box-shadow: 0 0 0 1px var(--manifold-grayscale-10);
  transition: height 300ms var(--manifold-ease-in-out);
  will-change: height;

  &[data-showing] {
    & .screen-left {
      transform: translateX(calc(-100% - 8rem));
    }

    & .screen-right,
    & .hidden {
      transform: translateX(calc(100% + 8rem));
      pointer-events: none;
    }
  }
}

.secrets {
  min-height: var(--height);
}

.secrets-menu {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding: 0;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 150ms var(--manifold-ease-sharp), opacity 150ms linear;

  &[data-showing] {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.spin {
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
