:host {
  /* Theme */
  --text-color: var(--manifold-text-color);
  --text-color-heading: var(--text-color);
  --text-color-body: var(--manifold-text-color-body);

  color: var(--manifold-text-color);
}

.title {
  margin: 0;
  color: var(--manifold-text-color-heading);
  font-weight: var(--manifold-font-weight-heading);
  font-size: var(--manifold-font-u3);
  font-family: var(--manifold-font-family-heading);
  line-height: 1.25;
}

.tagline {
  display: block;
  padding-bottom: 1rem;
}

.value-prop-list {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  padding: 0;
  list-style: none;
}

.value-prop {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  & h3 {
    margin-top: 0;
    margin-bottom: 0.375em;
    font-weight: 500;
    color: var(--manifold-text-color-heading);
    font-weight: var(--manifold-font-weight-heading);
    font-size: 1em;
    font-family: var(--manifold-font-family-heading);
    line-height: 1.2;
  }

  & p {
    max-width: 38em;
    margin: 0;
    color: var(--text-color-body);
    font-size: var(--manifold-font-d1);
    line-height: 1.5;
  }
}
