.title {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 1.5rem;
  font-weight: 400;
  font-size: var(--mf-font-u3);
  line-height: 1.25;
}

.tagline {
  display: block;
  flex-grow: 1;
  min-width: 10em;
  max-width: 30em;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.value-prop-list {
  display: block;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  padding: 0;
  list-style: none;
}

.value-prop {
  display: block;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;

  & h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: 500;
    font-size: 1em;
  }

  & p {
    max-width: 38em;
    margin: 0;
    color: var(--mf-c-grayDark);
    line-height: 1.65;
  }
}
