.title {
  margin: 0;
  padding-top: 1.5rem;
  font-weight: 400;
  font-size: var(--mf-font-u3);
  line-height: 1.25;
}

.tagline {
  display: block;
  padding-bottom: 1rem;
}

.value-prop-list {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  padding: 0;
  list-style: none;
}

.value-prop {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  & h3 {
    margin-top: 0;
    margin-bottom: 0.375em;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.2;
  }

  & p {
    max-width: 38em;
    margin: 0;
    color: var(--mf-c-grayDark);
    font-size: var(--mf-font-d1);
    line-height: 1.5;
  }
}
