.status {
  --gradient: linear-gradient(to top right, #329dd1, #55f0a8);

  &[data-status='PROVISIONING'] {
    --gradient: linear-gradient(to top right, #3189ba, #73cdff);
  }

  &[data-status='DEGRADED'] {
    --gradient: linear-gradient(to top right, #da710b, #ffa853);
  }

  &[data-status='OFFLINE'] {
    --gradient: linear-gradient(to top right, #a34141, #ff3737);
  }

  position: relative;
  display: inline-flex;
  align-items: center;
  height: 2.75rem;
  padding-right: 1.5rem;
  padding-left: 1rem;
  overflow: hidden;
  color: var(--manifold-c-black-60);
  border-radius: 4rem;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: var(--gradient);
    opacity: 0.1;
  }
}

.inner {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    background-image: var(--gradient);
    border-radius: 50%;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.loading {
  display: inline-flex;
  align-items: center;
  height: 2.75rem;
  padding-right: 1.5rem;
  padding-left: 1rem;
  color: var(--manifold-c-black-60);
  background-color: var(--manifold-c-black-10);
  border-radius: 4rem;

  & manifold-icon {
    margin-top: 0.25rem;
    margin-right: 0.75rem;
    transform-origin: 50% 40%;
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}
