# System
*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

# Manifold
.manifold.yml
src/spec/billing
src/spec/connector
src/spec/catalog
src/spec/gateway
src/spec/marketplace
src/spec/provisioning

# Stencil
!www/favicon.ico
.idea/
.sass-cache/
.stencil/
.versions/
.vscode/
coverage/
dist/
node_modules/
pkg/
www/
$RECYCLE.BIN/

# Storybook
storybook-static

# Gatsby
.cache
docs/public
docs/docs/changelog.md
