# System
*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.DS_Store
.manifold.yml
Thumbs.db
UserInterfaceState.xcuserstate
.env

# Stencil
!www/favicon.ico
.idea/
.sass-cache/
.stencil/
.versions/
.vscode/
coverage/
dist/
node_modules/
pkg/
src/spec/billing
src/spec/catalog
src/spec/gateway
src/spec/marketplace
src/spec/provisioning
www/
$RECYCLE.BIN/

# Gatsby
.cache
docs/public
