language: node_js
node_js:
  - 11.9.0
cache: npm
before_install:
  - cd docs && npm i && cd ..
  - echo "//registry.npmjs.org/:_authToken=$(npx @manifoldco/cli export -t manifold
    -p manifold-ui-ci | grep NPM_TOKEN | cut -f2 -d "=")" >> ~/.npmrc
stages:
  - test
  - publish
jobs:
  include:
    - stage: test
      name: "\U0001F4D0 Profile bundle"
      script: npm run profile
    - stage: test
      name: "\U0001F9F9 Run linters"
      script: npm run lint
    - stage: test
      name: "\U0001F5DC️ Run tests"
      script: npm run test:coverage
    - stage: test
      name: "\U0001F5DC️ Run visual regression tests"
      script: PREVIOUS_SHA=$(git rev-parse master) npm run happo-ci-travis
    - stage: publish
      name: Publish to npm
      script: npm run publish
      if: tag IS present
after_success:
  - npx codecov
