.container {
  display: grid;
  grid-gap: 0.5em;
  grid-template-areas: 'decrement field increment';
  grid-template-columns: auto 1fr auto;
  max-width: 150px;
}

.field {
  grid-area: field;

  --text-align: center;
}

.increment {
  grid-area: increment;
}

.decrement {
  grid-area: decrement;
}

.increment,
.decrement {
  padding: 0 0.5em;
  font-size: 1.25em;
  background-color: var(--mf-c-grayLightest);
  border: none;
  border-radius: var(--mf-radius-default);
}

.display-units {
  grid-column: 1 / -1;
  margin-top: 0.25em;
  color: var(--mf-c-gray);
  font-size: var(--mf-font-d1);
  text-align: center;
}
