:host {
  position: relative;
  display: flex;
}

.tooltip {
  position: absolute;
  left: 50%;
  display: none;
  width: max-content;
  max-width: 10em;
  padding: 0.5em;
  color: var(--manifold-grayscale-100i);
  text-align: center;
  background: var(--manifold-grayscale-100);
  border-radius: var(--manifold-radius);
  transform: translate(-50%, calc(-100% - 0.25em));

  &::before {
    position: absolute;
    bottom: -0.375em;
    left: calc(50% - 0.375em);
    display: block;
    width: 0.75em;
    height: 0.75em;
    background: inherit;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 3px;
    transform: rotateZ(45deg);
    content: '';
  }
}

slot:hover + .tooltip {
  display: block;
}
