:host {
  --service-color-jawsdb-mysql: #003b6e;
}

.grid {
  display: grid;
  grid-column-gap: 3rem;

  @media (min-width: 600px) {
    grid-template-columns: auto 1fr;
  }
}

.sidebar {
  position: relative;
  min-width: 15rem;
  margin-right: auto;
  margin-left: auto;
}

.sidebar-inner {
  position: sticky;
  top: 1rem;
}

.sidebar-section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  box-shadow: 0 -1px var(--mf-c-grayLight);

  & h4 {
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--mf-c-gray);
    font-weight: 500;
    font-size: var(--mf-font-d2);
    letter-spacing: 0.125em;
    text-transform: uppercase;
  }

  &:first-of-type {
    box-shadow: none;
  }
}

.category {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  color: var(--categoryColor);
  font-weight: 600;
  font-size: var(--mf-font-d2);
  letter-spacing: 0.0625em;
  text-transform: uppercase;

  & mf-icon {
    --icon-width: 1.25em;
    --icon-height: 1.25em;
  }
}

.provider-link {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: var(--mf-font-d1);

  & mf-icon {
    opacity: 0.5;
    transition: opacity 200ms;
  }

  & a {
    display: flex;
    align-items: center;
    color: inherit;
    line-height: 21px;
    text-decoration: none;
    transition: color 200ms;

    &:hover {
      color: var(--mf-c-grayDarker);

      & mf-icon {
        opacity: 1;
      }
    }
  }
}
