@custom-media --viewport-s (min-width: 450px);
@custom-media --viewport-m (min-width: 750px);
@custom-media --viewport-l (min-width: 1080px);

:host {
  --manifold-product-logo-s: 2rem;
  --manifold-product-logo-m: 2.75rem;
  --manifold-product-logo-l: 3rem;
  --padding: 0.75rem;

  /* theme vars */
  --card-background: var(--manifold-card-background);
  --card-text-color: var(--manifold-text-color);
  --card-border: var(--manifold-card-border);
  --card-radius: var(--manifold-card-radius);
  --card-shadow: var(--manifold-card-shadow);

  /* card:hover */
  --card-background-hover: var(--manifold-card-background-hover, var(--manifold-grayscale-80i));
  --card-text-color-hover: var(--manifold-card-text-color-hover, var(--card-text-color));
  --card-border-hover: var(--manifold-card-border-hover, var(--manifold-border-hover));
  --card-shadow-hover: var(--manifold-card-shadow-hover, var(--card-shadow));

  /* headings */
  --card-heading-font-family: var(--manifold-font-family-heading);
  --card-heading-font-weight: var(--manifold-font-weight-heading);
  --card-heading-text-color: var(--manifold-text-color-heading);
}

.wrapper {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 100%;
  color: var(--card-text-color);
  border: var(--card-border, 1px solid #d3d3d4);
  background: var(--card-background);
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
  transition: border-color 150ms linear, box-shadow 150ms linear;
  text-decoration: none;

  & [href] {
    cursor: pointer;

    &:focus,
    &:hover {
      background: var(--card-background-hover);
      border: var(--card-border-hover);
      box-shadow: var(--card-shadow-hover);
    }
  }
}

.description {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: var(--manifold-font-d1);
  line-height: 1.4;
  opacity: 0.6;

  @media (--viewport-m) {
    margin-top: 0.375rem;
  }
}

.grid {
  display: grid;
  grid-column-gap: var(--padding);
  grid-template-areas:
    'logo name'
    'info info'
    'tags tags';
  grid-template-rows: auto 1fr auto;
  grid-template-columns: var(--manifold-product-logo-s) auto;
  align-items: start;
  border-radius: var(--card-radius);
  padding: var(--padding);

  @media (--viewport-s) {
    grid-template-areas:
      'logo name'
      'logo info'
      'tags tags';
    grid-template-columns: var(--manifold-product-logo-m) auto auto;
  }

  @media (--viewport-m) {
    grid-template-columns: var(--manifold-product-logo-l) auto;
    padding: 0.875rem;
  }
}

.info {
  display: flex;
  flex-direction: row;
  grid-area: info;
  justify-content: space-between;
  padding-top: 0.25rem;

  @media (--viewport-m) {
    padding-top: 0;
  }

  @media (--viewport-l) {
    padding-left: 0;
  }
}

.logo {
  grid-area: logo;
  align-content: start;

  & img {
    box-sizing: border-box;
    width: var(--manifold-product-logo-s);
    height: var(--manifold-product-logo-s);
    overflow: hidden;
    color: transparent;
    background: white;
    border: 2px solid white;
    border-radius: var(--manifold-radius);
    opacity: 0.1;
    transition: opacity 150ms linear 100ms;

    @media (--viewport-s) {
      width: var(--manifold-product-logo-m);
      height: var(--manifold-product-logo-m);
    }

    @media (--viewport-m) {
      width: var(--manifold-product-logo-l);
      height: var(--manifold-product-logo-l);
    }

    &[data-loaded] {
      opacity: 1;
    }
  }
}

.name {
  grid-area: name;
  align-self: start;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 1em;
  color: var(--card-heading-text-color);
  font-weight: var(--card-heading-font-weight);
  font-size: 1em;
  font-family: var(--card-heading-font-family);
  line-height: 1.2;

  @media (--viewport-l) {
    padding-left: 0;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  grid-area: tags;
  align-items: center;
  justify-content: flex-end;
  margin-top: 0.375rem;
  margin-right: -0.125rem;
  margin-bottom: -0.125rem; /* offset stacking margin from .tag */
}

manifold-badge {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem; /* top & bottom help when tags stack */
  margin-left: 0.5em;
}
