:host {
  --grid-s: 1rem;
  --grid-m: 1.5rem;
}

.wrapper {
  display: grid;
  text-align: left;
}

.browse-catalog {
  @media (min-width: 600px) {
    display: grid;
    grid-column-gap: var(--grid-m);
    grid-template-columns: 12rem auto;
  }
}

.category-container,
.collection-container {
  padding: 1.5rem 0;
  border-top: 1px solid var(--mf-c-grayLight);

  &:first-child {
    padding-top: 0;
    border: none;
  }
}

.category {
  position: sticky;
  top: 0;
  left: 0;
  z-index: var(--mf-layer-hover);
  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
  margin-bottom: var(--grid-s);
  padding-top: var(--grid-s);
  padding-bottom: var(--grid-s);
  color: var(--mf-c-gray-s1);
  font-weight: 400;
  font-size: 1em;
  font-family: var(--mf-font-family);
  text-transform: capitalize;
  background-color: var(--mf-c-white);
  border-bottom: 1px solid var(--mf-c-black-10);

  @media (min-width: 600px) {
    position: static;
    font-size: var(--mf-font-u1);
    background: transparent;
    border-bottom: none;
  }
}

.category-sidebar {
  display: none;

  @media (min-width: 600px) {
    display: block;
    margin-top: 0.5rem;
  }
}

.category-sidebar-inner {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  padding-top: var(--grid-s);
}

.category-buttons {
  display: flex;
  flex-direction: column;
}

.category-button {
  margin: 0.25rem 0;
  padding: 0.25em 0;
  color: var(--mf-c-gray);
  font-size: var(--mf-font-d1);
  text-align: left;
  text-transform: capitalize;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &.is-active {
    color: var(--mf-c-grayDarker);
  }

  &:focus {
    color: var(--mf-c-blue);
    outline: 0;
  }

  &.big {
    color: var(--mf-c-grayDarker);
    font-size: var(--mf-font-d0);

    &:hover {
      color: var(--mf-c-gray);
      box-shadow: 2px 0 rgba(var(--mf-c-blue-rgb), 0.2) inset;
    }

    &:focus,
    &.is-active {
      color: var(--mf-c-blue);
      outline: 0;
      box-shadow: 2px 0 var(--mf-c-blue) inset;
    }
  }
}

.results {
  margin-top: 1rem;
}

.results-grid {
  display: grid;
  grid-gap: var(--grid-s);
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  box-sizing: border-box;
  margin: 0;
  color: var(--text-color);
  font-size: 16px;
  font-family: var(--mf-font-family);
  line-height: 1;
  background-color: var(--background-color);

  @media (min-width: 600px) {
    grid-gap: var(--grid-m);
    padding-right: 0;
    padding-left: 0;
  }
}

.search-bar {
  padding: 0.75rem;
  padding-right: 0;
  font-size: 1em;
  background-color: var(--mf-c-grayLightest);
  border: 1px solid var(--mf-c-grayLightest);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0) 0 2px 8px;
  transition: background-color 100ms linear;
  -webkit-appearance: none;

  &:focus {
    background-color: var(--mf-c-white);
    outline: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 8px;
  }
}

.search-bar::placeholder {
  color: var(--mf-c-gray);
}

.sorted-categories {
  position: relative;
}
