:host {
  --animation-duration: 350ms;
  --padding: 0.75rem;

  color: var(--manifold-text-color);
  font-family: var(--manifold-font-family);
}

@keyframes collapse {
  0% {
    height: var(--height);
  }

  99% {
    position: static; /*  animate position on last frame so it doesn’t “jump” at the end */
  }

  100% {
    position: absolute; /* without this, surrounding margins won’t collapse (also we can’t animate display: none) */
    height: 0;
  }
}

.toast {
  display: grid;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--manifold-color-primary);
  line-height: 1;
  will-change: height;

  /* hackiness below to vary the opacity of hex colors */

  &::before,
  &::after {
    grid-row: 1;
    grid-column: 1;
    border-radius: var(--manifold-radius);
    content: '';
    pointer-events: none;
  }

  &::before {
    background: var(--manifold-color-primary);
    opacity: 0.05;
  }

  &::after {
    box-shadow: inset 0 0 0 1px var(--manifold-color-primary);
    opacity: 0.375;
  }

  & a {
    color: inherit;
  }

  &[data-alert-type='error'] {
    color: var(--manifold-color-error);

    &::before {
      background: var(--manifold-color-error);
    }

    &::after {
      box-shadow: inset 0 0 0 1px var(--manifold-color-error);
    }
  }

  &[data-alert-type='success'] {
    color: var(--manifold-color-success);

    &::before {
      background: var(--manifold-color-success);
    }

    &::after {
      box-shadow: inset 0 0 0 1px var(--manifold-color-success);
    }
  }

  &[data-alert-type='warning'] {
    color: var(--manifold-color-warn);

    &::before {
      background: var(--manifold-color-warn);
    }

    &::after {
      box-shadow: inset 0 0 0 1px var(--manifold-color-warn);
      opacity: 0.6;
    }
  }

  &[data-dismissed] {
    overflow: hidden;
    visibility: hidden;
    transition: visibility 0ms var(--animation-duration);
    animation-name: collapse;
    animation-duration: var(--animation-duration);
    animation-timing-function: var(--manifold-ease-out);
    animation-fill-mode: forwards;
    pointer-events: none;
  }
}

.grid {
  display: grid;
  grid-row: 1;
  grid-column: 1;
  grid-column-gap: calc(var(--padding) - 0.125rem);
  grid-template-columns: min-content auto;
  padding-top: var(--padding);
  padding-right: var(--padding);
  padding-bottom: var(--padding);
  padding-left: var(--padding);

  &[data-dismissable] {
    position: relative;
    padding-right: 4rem;
  }
}

.close {
  position: absolute;
  top: 1px; /* 1px border */
  right: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: calc(1rem + var(--padding) + var(--padding));
  height: calc(1rem + var(--padding) + var(--padding));
  padding: 0;
  color: currentColor;
  font-size: 1.125em;
  line-height: 1;
  background: none;
  border: none;
  border-top-right-radius: var(--manifold-radius);
  border-bottom-right-radius: var(--manifold-radius);
  transition: background-color 150ms linear, filter 150ms linear;
  appearance: none;

  &:focus {
    background-color: var(--manifold-grayscale-05);
    outline: none;
    filter: saturate(150%);
  }
}
