/*
  Docs CSS
  ----------------------
  This CSS file isn’t used by the bundle, so we can repurpose it for docs styling.
*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif,
    'Apple Color Emoji';
}

.docs-sidebar {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.docs-sidebar h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 12px;
  font-family: 'IBM Plex Mono', monospace;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}

.docs-nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--mf-layer-nav);
  box-sizing: border-box;
  width: 100%;
  height: 4rem;
  margin: 0;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.9);

  @media (min-width: 750px) {
    top: 0;
    left: 0;
    width: 15rem;
    height: 100vh;
    padding: 1.5rem;
  }
}

.docs-nav-button {
  margin-right: 0.625rem;
  padding: 0.5rem;
  background: none;
  border: none;
  appearance: none;

  @media (min-width: 750px) {
    display: none;
  }

  & svg {
    display: block;
    width: 1rem;
    height: 1rem;
  }
}

.docs-nav-header {
  display: flex;
  margin-left: -0.5rem;

  @media (min-width: 750px) {
    margin-left: -0.125rem;
  }
}

.docs-nav-logo {
  display: block;
  width: 96px;
  height: 32px;
  margin-left: -0.25rem;

  @media (min-width: 750px) {
    width: 128px;
    height: 43px;
  }
}

.docs-nav-underlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.docs-nav-expanded {
  display: none;

  @media (min-width: 750px) {
    display: block;
  }

  &.is-expanded {
    position: relative;
    z-index: var(--mf-layer-nav);
    display: block;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.95);

    & ~ .docs-nav-underlay {
      display: block;
    }
  }
}

.docs-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.docs-nav a {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
  transition: color 150ms linear;
}

.docs-nav a:hover {
  color: var(--mf-c-blue);
}

.docs-main {
  box-sizing: border-box;
  width: 100vw;
  height: calc(100vh - 4rem);
  margin-top: 4rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  @media (min-width: 750px) {
    height: 100vh;
    margin-top: 0;
    padding-left: 15rem;
  }
}

.docs-section {
  box-sizing: border-box;
  width: 100%;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.docs-section + .docs-section {
  margin-top: 1.5rem;
}

.docs-example {
  box-sizing: border-box;
  width: 100vw;
  margin-left: -1.5rem;
  padding: 1rem;
  font-size: 16px;

  @media (min-width: 750px) {
    width: calc(100% + 3rem);
    margin-right: 0;
    margin-left: -1.5rem;
    padding: 3rem;
    background-color: rgba(0, 0, 0, 0.025);
  }
}

.docs-example-inner {
  background-color: white;

  @media (min-width: 750px) {
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  }
}

/* GitHub CSS Overrides */

pre,
code,
.markdown-body pre,
.markdown-body code {
  font-family: 'IBM Plex Mono', monospace;
}

.markdown-body pre {
  color: white;
  background-color: #18171b;
  background-image: linear-gradient(-45deg, rgba(240, 3, 69, 0.2), rgba(30, 80, 218, 0.2));
  border-radius: 0.625rem;
}

.docs-section h1,
.docs-section h2,
.docs-section h3,
.docs-section h4,
.docs-section h5,
.docs-section h6 {
  max-width: 50rem;
  margin-right: auto;
  margin-left: auto;
  font-weight: 400;
  font-family: 'IBM Plex Mono', monospace;
  border-bottom: 0;
}

.docs-section h1 {
  margin-top: 3rem;
  font-weight: 800;
  font-size: 48px;
  font-family: var(--mf-font-family);
}

.docs-section h2 {
  margin-top: 3rem;
  font-size: 20px;
  border-bottom: none;
}

.docs-section h3 {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.markdown-body {
  max-width: 50rem;
  margin-right: auto;
  margin-left: auto;
}

.markdown-body h1 {
  font-size: 32px;
}

.markdown-body p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 14px;
  line-height: 1.5;
}

/* highlight.js */

.hljs {
  color: #ea62b3;
}

.hljs-attr {
  color: var(--mf-c-teal);
}

.hljs-built_in {
  color: var(--mf-c-teal);
}

.hljs-comment {
  color: rgba(255, 255, 255, 0.5);
}

.hljs-function {
  color: var(--mf-c-yellow);
}

.hljs-keyword {
  color: var(--mf-c-purple);
  filter: saturate(120%) brightness(125%);
}

.hljs-params {
  color: var(--mf-c-blue);
  filter: saturate(120%) brightness(150%);
}

.hljs-string {
  color: var(--mf-c-green);
}

.hljs-subst {
  color: var(--mf-c-orange);
}

.hljs-tag {
  color: #e77878;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  max-width: 80%;
  max-height: 80%;
  padding: 1rem;
  overflow: auto;
  background-color: white;
}
