/*
 * This is the Manifold UI base theme. Add this theme to your site and modify
 * variables as needed to match your theme.
 */

:root {
  /* Default Theme Colors */
  --manifold-white: #fff;
  --manifold-black: #222;
  --manifold-blue: rgb(30, 80, 218);
  --manifold-orange: rgb(254, 113, 75);
  --manifold-red: rgb(213, 15, 73);
  --manifold-teal: rgb(15, 181, 208);
  --manifold-gold: rgb(245, 139, 35);
  --manifold-green: rgb(49, 186, 162);
  --manifold-yellow: rgb(255, 222, 82);

  /* Grayscale Bases */
  --manifold-grayscale-base: 0, 0, 0;
  --manifold-grayscale-base-inverted: 255, 255, 255;

  /* Grayscale */
  --manifold-grayscale-0: rgba(var(--manifold-grayscale-base), 0);
  --manifold-grayscale-03: rgba(var(--manifold-grayscale-base), 0.03);
  --manifold-grayscale-05: rgba(var(--manifold-grayscale-base), 0.05);
  --manifold-grayscale-07: rgba(var(--manifold-grayscale-base), 0.07);
  --manifold-grayscale-10: rgba(var(--manifold-grayscale-base), 0.1);
  --manifold-grayscale-15: rgba(var(--manifold-grayscale-base), 0.15);
  --manifold-grayscale-20: rgba(var(--manifold-grayscale-base), 0.2);
  --manifold-grayscale-25: rgba(var(--manifold-grayscale-base), 0.25);
  --manifold-grayscale-30: rgba(var(--manifold-grayscale-base), 0.3);
  --manifold-grayscale-40: rgba(var(--manifold-grayscale-base), 0.4);
  --manifold-grayscale-50: rgba(var(--manifold-grayscale-base), 0.5);
  --manifold-grayscale-60: rgba(var(--manifold-grayscale-base), 0.6);
  --manifold-grayscale-70: rgba(var(--manifold-grayscale-base), 0.6);
  --manifold-grayscale-75: rgba(var(--manifold-grayscale-base), 0.75);
  --manifold-grayscale-80: rgba(var(--manifold-grayscale-base), 0.8);
  --manifold-grayscale-90: rgba(var(--manifold-grayscale-base), 0.9);
  --manifold-grayscale-100: rgba(var(--manifold-grayscale-base), 1);

  /* Inverted Grayscale */
  --manifold-grayscale-0i: rgba(var(--manifold-grayscale-base-inverted), 0);
  --manifold-grayscale-03i: rgba(var(--manifold-grayscale-base-inverted), 0.03);
  --manifold-grayscale-05i: rgba(var(--manifold-grayscale-base-inverted), 0.05);
  --manifold-grayscale-07i: rgba(var(--manifold-grayscale-base-inverted), 0.07);
  --manifold-grayscale-10i: rgba(var(--manifold-grayscale-base-inverted), 0.1);
  --manifold-grayscale-15i: rgba(var(--manifold-grayscale-base-inverted), 0.15);
  --manifold-grayscale-20i: rgba(var(--manifold-grayscale-base-inverted), 0.2);
  --manifold-grayscale-25i: rgba(var(--manifold-grayscale-base-inverted), 0.25);
  --manifold-grayscale-30i: rgba(var(--manifold-grayscale-base-inverted), 0.3);
  --manifold-grayscale-40i: rgba(var(--manifold-grayscale-base-inverted), 0.4);
  --manifold-grayscale-50i: rgba(var(--manifold-grayscale-base-inverted), 0.5);
  --manifold-grayscale-60i: rgba(var(--manifold-grayscale-base-inverted), 0.6);
  --manifold-grayscale-70i: rgba(var(--manifold-grayscale-base-inverted), 0.6);
  --manifold-grayscale-75i: rgba(var(--manifold-grayscale-base-inverted), 0.75);
  --manifold-grayscale-80i: rgba(var(--manifold-grayscale-base-inverted), 0.8);
  --manifold-grayscale-90i: rgba(var(--manifold-grayscale-base-inverted), 0.9);
  --manifold-grayscale-95i: rgba(var(--manifold-grayscale-base-inverted), 0.95);
  --manifold-grayscale-97i: rgba(var(--manifold-grayscale-base-inverted), 0.97);
  --manifold-grayscale-100i: rgba(var(--manifold-grayscale-base-inverted), 1);

  /* Grays */
  --manifold-color-gray: rgba(50, 57, 64, 1); /* grayDarker */
  --manifold-color-gray0: rgba(50, 57, 64, 0);
  --manifold-color-gray03: rgba(50, 57, 64, 0.03);
  --manifold-color-gray05: rgba(50, 57, 64, 0.05); /* grayLightest */
  --manifold-color-gray07: rgba(50, 57, 64, 0.07);
  --manifold-color-gray10: rgba(50, 57, 64, 0.1); /* grayLighter */
  --manifold-color-gray20: rgba(50, 57, 64, 0.2); /* grayLight */
  --manifold-color-gray25: rgba(50, 57, 64, 0.25);
  --manifold-color-gray30: rgba(50, 57, 64, 0.3); /* med */
  --manifold-color-gray40: rgba(50, 57, 64, 0.4);
  --manifold-color-gray50: rgba(50, 57, 64, 0.5);
  --manifold-color-gray60: rgba(50, 57, 64, 0.6); /* gray */
  --manifold-color-gray70: rgba(50, 57, 64, 0.7);
  --manifold-color-gray75: rgba(50, 57, 64, 0.75);
  --manifold-color-gray80: rgba(50, 57, 64, 0.8);
  --manifold-color-gray90: rgba(50, 57, 64, 0.9); /* grayDark */
  --manifold-color-gray95: rgba(50, 57, 64, 0.95);

  /* Colors */
  --manifold-color-primary: var(--manifold-blue);
  --manifold-color-info: var(--manifold-blue);
  --manifold-color-success: var(--manifold-green);
  --manifold-color-warn: var(--manifold-orange);
  --manifold-color-error: var(--manifold-red);

  /* Gradients */

  --manifold-g-blue: linear-gradient(to top right, #329dd1, #4f50a4);
  --manifold-g-blueFaded: linear-gradient(to top right, #c5c6ff, #b1e5ff);
  --manifold-g-gray: linear-gradient(
    45deg,
    var(--manifold-grayscale-75),
    var(--manifold-grayscale-90)
  );
  --manifold-g-green: linear-gradient(to top right, #329dd1, #4cbc88);
  --manifold-g-greenFaded: linear-gradient(to top right, #d5f1ff, #d2f5e4);
  --manifold-g-orange: linear-gradient(63deg, #f56d41, #b54a84);
  --manifold-g-orangeFaded: linear-gradient(to top right, #f5bca5, #fff1d7);
  --manifold-g-pink: linear-gradient(to top right, #e35767, #7041a3);
  --manifold-g-purple: linear-gradient(to top right, #543edd, #a572ff);
  --manifold-g-purpleFaded: linear-gradient(to top right, #cbc3ff, #eadeff);
  --manifold-g-rainbow: linear-gradient(
    to top right,
    #fdc935 0%,
    #fd8745 22.52%,
    #2d98cc 39.1%,
    #814eae 73.54%,
    #fe1360 100%
  );
  --manifold-g-red: linear-gradient(to top right, #a65084, #ec7740);
  --manifold-g-redFaded: linear-gradient(to top right, #f1b2ce, #ffcbb3);
  --manifold-g-skyBlue: linear-gradient(-152deg, #388dc7 5%, #4e56a7 98%);
  --manifold-g-yellow: linear-gradient(to top right, #ffb83a, #ffe268);
  --manifold-g-yellowFaded: linear-gradient(to top right, #ffd995, #fff7d3);

  /* Text */
  --manifold-text-color: var(--manifold-grayscale-100);
  --manifold-text-color-secondary: var(--manifold-grayscale-50);
  --manifold-text-color-body: var(--manifold-grayscale-70);
  --manifold-text-color-accent: var(--manifold-white);

  /* font */
  --manifold-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif,
    'Apple Color Emoji';
  --manifold-font-family-monospace: 'IBM Plex Mono', SFMono-Regular, Consolas, Liberation Mono,
    Menlo, Courier, monospace;

  /* Radii */
  --manifold-radius: 4px;

  /* Headings */
  --manifold-font-family-heading: inherit;
  --manifold-font-weight-heading: 400;
  --manifold-text-color-heading: inherit;

  /* Borders */
  --manifold-border: 1px solid var(--manifold-grayscale-15);
  --manifold-border-hover: 1px solid var(--manifold-grayscale-30);
  --manifold-border-focus: 1px solid var(--manifold-color-primary);
  --manifold-border-active: 1px solid var(--manifold-color-primary);

  /* Category Colors */
  --manifold-c-authentication: var(--manifold-c-blue-s1);
  --manifold-c-CMS: var(--manifold-c-yellow);
  --manifold-c-cms: var(--manifold-c-yellow);
  --manifold-c-database: var(--manifold-c-orange);
  --manifold-c-logging: var(--manifold-c-black);
  --manifold-c-memory-store: var(--manifold-blue);
  --manifold-c-messaging: var(--manifold-c-red);
  --manifold-c-monitoring: var(--manifold-c-purple);
  --manifold-c-optimization: var(--manifold-c-teal);
  --manifold-c-search: var(--manifold-c-teal);
  --manifold-c-worker: var(--manifold-c-green);

  /* Font Scale */
  --manifold-font-u12: 5.0625em;
  --manifold-font-u11: 4.4225011027em;
  --manifold-font-u10: 3.8634105686em;
  --manifold-font-u9: 3.375em;
  --manifold-font-u8: 2.9483340685em;
  --manifold-font-u7: 2.5756070457em;
  --manifold-font-u6: 2.25em;
  --manifold-font-u5: 1.9655560457em;
  --manifold-font-u4: 1.7170713638em;
  --manifold-font-u3: 1.5em;
  --manifold-font-u2: 1.3103706971em;
  --manifold-font-u1: 1.1447142426em;
  --manifold-font-u0: 1em;
  --manifold-font-d0: 1em;
  --manifold-font-d1: 0.8735804647em;
  --manifold-font-d2: 0.7631428284em;
  --manifold-font-d3: 0.6666666667em;
  --manifold-font-d4: 0.5823869765em;
  --manifold-font-d5: 0.5087618856em;
  --manifold-font-d6: 0.4444444444em;
  --manifold-font-d7: 0.3882579843em;
  --manifold-font-d8: 0.3391745904em;
  --manifold-font-d9: 0.2962962963em;
  --manifold-font-d10: 0.2588386562em;
  --manifold-font-d11: 0.2261163936em;
  --manifold-font-d12: 0.1975308642em;

  /* Easing */

  /* Objects accelerate slowly, reach full velocity, then decelerate. Useful for large interactions or objects of high mass. */
  --manifold-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

  /* Objects start at full velocity, then decelerate. Useful for small interactions that feel snappy and not sluggish. */
  --manifold-ease-out: cubic-bezier(0, 0, 0.2, 1);

  /* Objects leave the screen at full velocity. They do not decelerate when off-screen. */
  --manifold-ease-in: cubic-bezier(0.4, 0, 1, 1);

  /* The sharp curve is used by objects that may return to the screen at any time. */
  --manifold-ease-sharp: cubic-bezier(0.4, 0, 0.6, 1);

  /* Layers */
  --manifold-layer-base: 10;
  --manifold-layer-hover: 20;
  --manifold-layer-nav: 30;

  /* Shadow */
  --manifold-shadow-default: 0 2px 6px rgba(31, 31, 38, 0.1);
  --manifold-shadow-transparent: 0 2px 6px rgba(31, 31, 38, 0);

  /* Common Component Properties */

  /* Cards */
  --manifold-card-border: var(--manifold-border);
  --manifold-card-background: var(--manifold-grayscale-100i);
  --manifold-card-radius: var(--manifold-radius);
  --manifold-card-shadow: none;
  --manifold-card-text-color: var(--manifold-text-color);

  /* Input */
  --manifold-input-background: var(--manifold-grayscale-100i);
  --manifold-input-background-disabled: var(--manifold-grayscale-10);
  --manifold-input-text-color: var(--manifold-text-color);
  --manifold-input-text-color-disabled: var(--manifold-text-color-secondary);
  --manifold-input-border: var(--manifold-border);
  --manifold-input-border-disabled: var(--manifold-border);
  --manifold-input-radius: var(--manifold-radius);
  --manifold-input-shadow: none;

  /* Status */
  --manifold-status-radius: var(--manifold-tag-radius, var(--manifold-radius));
  --manifold-status-border: none;
  --manifold-status-padding: 0.5em 1em;

  /* base */
  --manifold-status-color: var(--manifold-grayscale-60);
  --manifold-status-color-available: var(--manifold-color-success, var(--manifold-status-color));
  --manifold-status-color-loading: var(--manifold-grayscale-20, var(--manifold-status-color));
  --manifold-status-color-processing: var(--manifold-color-info, var(--manifold-status-color));
  --manifold-status-color-error: var(--manifold-color-warn, var(--manifold-status-color));
  --manifold-status-color-deleted: var(--manifold-color-error, var(--manifold-status-color));

  /* opacity */
  --manifold-status-background-opacity: 0.1;
  --manifold-status-background-opacity-available: var(--manifold-status-background-opacity);
  --manifold-status-background-opacity-loading: var(--manifold-status-background-opacity);
  --manifold-status-background-opacity-processing: var(--manifold-status-background-opacity);
  --manifold-status-background-opacity-error: var(--manifold-status-background-opacity);
  --manifold-status-background-opacity-deleted: var(--manifold-status-background-opacity);

  /* background */
  --manifold-status-background: var(--manifold-status-color);
  --manifold-status-background-available: var(--manifold-status-color-available);
  --manifold-status-background-loading: var(--manifold-status-color-loading);
  --manifold-status-background-processing: var(--manifold-status-color-processing);
  --manifold-status-background-error: var(--manifold-status-color-error);
  --manifold-status-background-deleted: var(--manifold-status-color-deleted);

  /* icon */
  --manifold-status-icon-color: var(--manifold-status-color);
  --manifold-status-icon-color-available: var(--manifold-status-color-available);
  --manifold-status-icon-color-loading: var(--manifold-status-color-loading);
  --manifold-status-icon-color-processing: var(--manifold-status-color-processing);
  --manifold-status-icon-color-error: var(--manifold-status-color-error);
  --manifold-status-icon-color-deleted: var(--manifold-status-color-deleted);

  /* text */
  --manifold-status-text-color: var(--manifold-status-color);
  --manifold-status-text-color-available: var(--manifold-status-text-color);
  --manifold-status-text-color-loading: var(--manifold-status-text-color);
  --manifold-status-text-color-processing: var(--manifold-status-text-color);
  --manifold-status-text-color-error: var(--manifold-status-text-color);
  --manifold-status-text-color-deleted: var(--manifold-status-text-color);
}
