@import './theme.css';

:root {
  /* DO brand */
  --do-blue: #0069ff;
  --do-blue-faded: #f5f9ff;
  --do-blue-dark: #031b4d;
  --do-teal: #1fc3e9;
  --do-green: #15cd72;
  --do-red: #ed4f32;
  --do-lightest-gray: #f1f1f1;
  --do-light-gray: #dfdfdf;
  --do-dark-gray: #cbcbcb;
  --do-text: #676767;
  --do-radius: 3px;
  --do-font-family: 'proxima-nova', sans-serif;
  --do-black-rgb: 0, 0, 20;
  --do-white-rgb: 255, 255, 255;

  /* usually black or white; grays will be derived from this using opacity */
  --manifold-grayscale-base: var(--do-white-rgb);
  --manifold-grayscale-base-inverted: var(--do-black-rgb);

  /* semantic theme */
  --manifold-text-color: var(--manifold-grayscale-100);
  --manifold-text-color-secondary: var(--manifold-grayscale-70);
  --manifold-text-color-alt: var(--manifold-grayscale-100i);
  --manifold-background: var(--do-white);
  --manifold-color-primary: var(--do-blue);
  --manifold-color-success: var(--do-green);
  --manifold-color-warn: var(--do-red);
  --manifold-color-error: var(--do-red);
  --manifold-radius: var(--do-radius);

  /* WC theme */
  --manifold-font-default: var(--do-font-family);
  --manifold-border: 1px solid var(--manifold-grayscale-20);

  /* card vars */

  /* --manifold-card-border: 1px solid var(--do-light-gray); */
  --manifold-card-radius: var(--do-radius);

  /* card hover */

  /* --manifold-card-background-hover: var(--do-lightest-gray);
  --manifold-card-border-hover: 1px solid #cbcbcb; */
  --mf-card-shadow-hover: none;

  /* card active */

  /*
  --manifold-card-background-active: var(--do-blue-faded);
  --manifold-card-border-active: 1px solid var(--do-blue);
  --manifold-card-color-active: var(--do-blue);
  --manifold-card-shadow-active: none;
*/

  /* tag vars */
  --mf-tag-font-weight: 900;
  --mf-tag-background: var(--do-blue);
  --mf-tag-radius: var(--do-radius);
  --mf-tag-free-background: var(--do-teal);

  /* categories */
  --mf-link-color: var(--do-gray);
  --mf-link-color-active: var(--do-blue);

  /* text */
  --mf-c-text: var(--mf-c-gray-s2);
  --mf-c-textSubdue: var(--mf-c-gray);

  /* button */
  --mf-button-background: var(--do-blue);
  --mf-button-radius: var(--do-radius);
  --mf-button-font-size: 0.9rem;
  --mf-button-padding: 1.3em 1.6em;

  /* plan list */

  --mf-card-gap: 1rem;

  /*
  --mf-c-black: rgb(34, 34, 34);
  --mf-c-offWhite: rgb(247, 247, 248);
  --mf-c-gray-t5: rgb(245, 247, 249);
  --mf-c-gray-t3: rgb(221, 221, 222);
  --mf-c-gray-t2: rgb(207, 207, 207);
  --mf-c-gray: rgb(143, 143, 149);
  --mf-c-gray-s1: rgb(87, 91, 95);
  --mf-c-gray-s2: rgb(50, 57, 64);
  --mf-c-white: #fff;
  --mf-c-purple: rgb(119, 72, 209);
  --mf-c-blue-t4: rgb(237, 245, 255);
  --mf-c-blue: rgb(30, 80, 218);
  --mf-c-orange: rgb(254, 113, 75);
  --mf-c-magenta: rgb(180, 88, 119);
  --mf-c-red: rgb(213, 15, 73);
  --mf-c-teal: rgb(15, 181, 208);
  --mf-c-gold: rgb(245, 139, 35);
  --mf-c-green: rgb(49, 186, 162);
  --mf-c-yellow: rgb(255, 222, 82);
*/

  /* rgb colors */

  /*
  --mf-c-blue-rgb: 30, 80, 218;
  --mf-c-gray-rgb: 143, 143, 149;
  --mf-c-red-rgb: 213, 15, 73;
  --mf-c-gold-rgb: 245, 139, 35;
  --mf-c-green-rgb: 49, 186, 162;
*/

  /* grays */

  /*
  --mf-c-black-0: rgba(0, 0, 0, 0);
  --mf-c-black-03: rgba(0, 0, 0, 0.03);
  --mf-c-black-05: rgba(0, 0, 0, 0.05);
  --mf-c-black-07: rgba(0, 0, 0, 0.07);
  --mf-c-black-10: rgba(0, 0, 0, 0.1);
  --mf-c-black-20: rgba(0, 0, 0, 0.2);
  --mf-c-black-25: rgba(0, 0, 0, 0.25);
  --mf-c-black-30: rgba(0, 0, 0, 0.3);
  --mf-c-black-40: rgba(0, 0, 0, 0.4);
  --mf-c-black-50: rgba(0, 0, 0, 0.5);
  --mf-c-black-60: rgba(0, 0, 0, 0.6);
  --mf-c-black-70: rgba(0, 0, 0, 0.6);
  --mf-c-black-75: rgba(0, 0, 0, 0.75);
  --mf-c-black-80: rgba(0, 0, 0, 0.8);
  --mf-c-black-90: rgba(0, 0, 0, 0.9);
*/

  /* gradients */

  /*
  --mf-g-blue: linear-gradient(to top right, #329dd1, #4f50a4);
  --mf-g-blueFaded: linear-gradient(to top right, #c5c6ff, #b1e5ff);
  --mf-g-cta: linear-gradient(63deg, #f56d41, #b54a84);
  --mf-g-gray: linear-gradient(45deg, var(--mf-c-gray-t3), var(--mf-c-gray-t5));
  --mf-g-green: linear-gradient(to top right, #329dd1, #55f0a8);
  --mf-g-greenFaded: linear-gradient(to top right, #d5f1ff, #d2f5e4);
  --mf-g-orange: linear-gradient(to top right, #fe3a57, #fdc836);
  --mf-g-orangeFaded: linear-gradient(to top right, #f5bca5, #fff1d7);
  --mf-g-orangeBurnt: linear-gradient(90deg, #ec7740, #a65084);
  --mf-g-purple: linear-gradient(to top right, #543edd, #a572ff);
  --mf-g-purpleFaded: linear-gradient(to top right, #cbc3ff, #eadeff);
  --mf-g-red: linear-gradient(to top right, #a65084, #ec7740);
  --mf-g-redFaded: linear-gradient(to top right, #f1b2ce, #ffcbb3);
  --mf-g-skyBlue: linear-gradient(-152deg, #388dc7 5%, #4e56a7 98%);
  --mf-g-yellow: linear-gradient(to top right, #ffb83a, #ffe268);
  --mf-g-yellowFaded: linear-gradient(to top right, #ffd995, #fff7d3);
  --mf-g-custom: linear-gradient(to top right, #eadeff, #f9f5ff);
  --mf-g-dumper: linear-gradient(to top right, #9b0000, #d2202f);
  --mf-g-blitline: linear-gradient(to top right, #00648c, #00a4e6);
  --mf-g-elegant-cm: linear-gradient(to top right, #0e517e, #218ab5);
*/

  /* context colors */

  /*
  --mf-c-authentication: var(--mf-c-blue-s1);
  --mf-c-CMS: var(--mf-c-yellow);
  --mf-c-cms: var(--mf-c-yellow);
  --mf-c-database: var(--mf-c-orange);
  --mf-c-logging: var(--mf-c-black);
  --mf-c-memory-store: var(--mf-blue);
  --mf-c-messaging: var(--mf-c-red);
  --mf-c-monitoring: var(--mf-c-purple);
  --mf-c-optimization: var(--mf-c-teal);
  --mf-c-search: var(--mf-c-teal);
  --mf-c-worker: var(--mf-c-green);
*/

  /* product gradients */

  /*
  --mf-g-aiven-cassandra: linear-gradient(to right top, #0e517e, #218ab5);
  --mf-g-aiven-elasticsearch: linear-gradient(to right top, #097cab, #2c9ecf);
  --mf-g-aiven-grafana: linear-gradient(to right top, #c3862d, #faa43b);
  --mf-g-aiven-kafka: linear-gradient(to right top, #ab1a63, #ce1b75);
  --mf-g-aiven-pg: linear-gradient(to right top, #0e517e, #218ab5);
  --mf-g-aiven-redis: linear-gradient(to right top, #c21e2c, #731b1b);
  --mf-g-blitline: linear-gradient(to right top, rgb(0, 100, 140), rgb(0, 164, 230));
  --mf-g-bonsai-elasticsearch: linear-gradient(to right top, #0091ff, #41a040);
  --mf-g-cloudamqp: linear-gradient(to right top, #ca6227, #077288);
  --mf-g-cloudcube: linear-gradient(to right top, #b94e45, #1c7293);
  --mf-g-custom-recognition: linear-gradient(to right top, #22457d, #2a93af);
  --mf-g-dumper: linear-gradient(to right top, rgb(155, 0, 0), rgb(210, 32, 47));
  --mf-g-elegant-cms: linear-gradient(to right top, rgb(14, 81, 126), rgb(33, 138, 181));
  --mf-g-generic-tagging: linear-gradient(to right top, #556919, #899f3c);
  --mf-g-hostedmetrics-influxdb: linear-gradient(to right top, #0e517e, #6b42b3);
  --mf-g-hostedmetrics-prometheus: linear-gradient(to right top, #0e517e, #6b42b3);
  --mf-g-hypdf: linear-gradient(to right top, #9b0d0a, #4b0808);
  --mf-g-informant: linear-gradient(to right top, #3d658d, #c58d1a);
  --mf-g-iron_cache: linear-gradient(to right top, #099542, #2bd15a);
  --mf-g-iron_mq: linear-gradient(to right top, #de6500, #e8b600);
  --mf-g-iron_worker: linear-gradient(to right top, #2977be, #57aee4);
  --mf-g-jawsdb-maria: linear-gradient(to right top, #252525, #5b6895);
  --mf-g-jawsdb-mysql: linear-gradient(to right top, #0e517e, #218ab5);
  --mf-g-jawsdb-postgres: linear-gradient(to right top, #1f1b5d, #6b58ae);
  --mf-g-logdna: linear-gradient(to right top, #435286, #dc235b);
  --mf-g-mailgun: linear-gradient(to right top, #731429, #c12126);
  --mf-g-memcachier-cache: linear-gradient(to right top, #0e6a1e, #5ebc30);
  --mf-g-oauth-io: linear-gradient(to right top, #44d7b6, #2b7aa4);
  --mf-g-pdfshift: linear-gradient(to right top, #291242, #693eae);
  --mf-g-piio: linear-gradient(to right top, #1f33c2, #d85d1e);
  --mf-g-posthook: linear-gradient(to right top, #0e517e, #218ab5);
  --mf-g-prefab: linear-gradient(to right top, #1255cf, #5186e4);
  --mf-g-provider-dashboard: linear-gradient(to right top, #222, #444);
  --mf-g-scoutapp: linear-gradient(to right top, #f0592b, #8c214f);
  --mf-g-statushub: linear-gradient(to right top, #26ad8f, #1090b8);
  --mf-g-till: linear-gradient(to right top, #4b3f03, #218ab5);
  --mf-g-timber-logging: linear-gradient(to right top, #292156, #796adc);
  --mf-g-websolr: linear-gradient(to right top, #0e517e, #218ab5);
  --mf-g-zerosix: linear-gradient(to right top, #252a2e, #344068);
  --mf-g-ziggeo: linear-gradient(to right top, #743252, #ba445e);
*/

  /* product logo sizes */

  /*
  --mf-product-logo-s: 2rem;
  --mf-product-logo-m: 2.75rem;
  --mf-product-logo-l: 3rem;
*/

  /* text-colors */

  /*
  --mf-c-text: var(--mf-c-gray-s2);
  --mf-c-textSubdue: var(--mf-c-gray);
  --mf-c-background: var(--mf-c-white);
  --mf-c-backgroundSubdue: var(--mf-c-offWhite);
*/

  /* font */

  /*
  --mf-font-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif,
    'Apple Color Emoji';
  --mf-font-monospace: 'IBM Plex Mono', SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
  --mf-font-u12: 5.0625em;
  --mf-font-u11: 4.4225011027em;
  --mf-font-u10: 3.8634105686em;
  --mf-font-u9: 3.375em;
  --mf-font-u8: 2.9483340685em;
  --mf-font-u7: 2.5756070457em;
  --mf-font-u6: 2.25em;
  --mf-font-u5: 1.9655560457em;
  --mf-font-u4: 1.7170713638em;
  --mf-font-u3: 1.5em;
  --mf-font-u2: 1.3103706971em;
  --mf-font-u1: 1.1447142426em;
  --mf-font-u0: 1em;
  --mf-font-d0: 1em;
  --mf-font-d1: 0.8735804647em;
  --mf-font-d2: 0.7631428284em;
  --mf-font-d3: 0.6666666667em;
  --mf-font-d4: 0.5823869765em;
  --mf-font-d5: 0.5087618856em;
  --mf-font-d6: 0.4444444444em;
  --mf-font-d7: 0.3882579843em;
  --mf-font-d8: 0.3391745904em;
  --mf-font-d9: 0.2962962963em;
  --mf-font-d10: 0.2588386562em;
  --mf-font-d11: 0.2261163936em;
  --mf-font-d12: 0.1975308642em;
*/

  /* font weight */

  /*
  --mf-font-semibold: 500;
  --mf-font-bold: 600;
*/

  /* border */

  /*
  --mf-radius-small: 3px;
  --mf-radius-default: 4px;
  --mf-radius-large: 6px;
  --mf-radius-xlarge: 8px;
  --mf-radius-circle: 50%;
*/

  /* shadow */

  /*
  --mf-shadow-default: 0 2px 6px rgba(31, 31, 38, 0.1);
  --mf-shadow-transparent: 0 2px 6px rgba(31, 31, 38, 0);
  --mf-text-color: var(--mf-c-black);
  --mf-background-color: var(--mf-c-white);
*/

  /* easing */

  /* Objects accelerate slowly, reach full velocity, then decelerate. Useful for large interactions or objects of high mass. */
  --mf-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

  /* Objects start at full velocity, then decelerate. Useful for small interactions that feel snappy and not sluggish. */
  --mf-ease-out: cubic-bezier(0, 0, 0.2, 1);

  /* Objects leave the screen at full velocity. They do not decelerate when off-screen. */
  --mf-ease-in: cubic-bezier(0.4, 0, 1, 1);

  /* The sharp curve is used by objects that may return to the screen at any time. */
  --mf-ease-sharp: cubic-bezier(0.4, 0, 0.6, 1);

  /* layer */
  --mf-layer-base: 10;
  --mf-layer-hover: 20;
  --mf-layer-nav: 30;
}
