/*
 * This is the Manifold UI base theme. Add this theme to your site and modify
 * variables as needed to match your theme.
 */

:root {
  /* Default Theme Colors */
  --manifold-white: #fff;
  --manifold-black: #222;
  --manifold-blue: rgb(30, 80, 218);
  --manifold-orange: rgb(254, 113, 75);
  --manifold-red: rgb(213, 15, 73);
  --manifold-teal: rgb(15, 181, 208);
  --manifold-gold: rgb(245, 139, 35);
  --manifold-green: rgb(49, 186, 162);
  --manifold-yellow: rgb(255, 222, 82);

  /* Grayscale Bases */
  --manifold-grayscale-base: 0, 0, 0;
  --manifold-grayscale-base-inverted: 255, 255, 255;

  /* Grayscale */
  --manifold-grayscale-0: rgba(var(--manifold-grayscale-base), 0);
  --manifold-grayscale-03: rgba(var(--manifold-grayscale-base), 0.03);
  --manifold-grayscale-05: rgba(var(--manifold-grayscale-base), 0.05);
  --manifold-grayscale-07: rgba(var(--manifold-grayscale-base), 0.07);
  --manifold-grayscale-10: rgba(var(--manifold-grayscale-base), 0.1);
  --manifold-grayscale-15: rgba(var(--manifold-grayscale-base), 0.15);
  --manifold-grayscale-20: rgba(var(--manifold-grayscale-base), 0.2);
  --manifold-grayscale-25: rgba(var(--manifold-grayscale-base), 0.25);
  --manifold-grayscale-30: rgba(var(--manifold-grayscale-base), 0.3);
  --manifold-grayscale-40: rgba(var(--manifold-grayscale-base), 0.4);
  --manifold-grayscale-50: rgba(var(--manifold-grayscale-base), 0.5);
  --manifold-grayscale-60: rgba(var(--manifold-grayscale-base), 0.6);
  --manifold-grayscale-70: rgba(var(--manifold-grayscale-base), 0.6);
  --manifold-grayscale-75: rgba(var(--manifold-grayscale-base), 0.75);
  --manifold-grayscale-80: rgba(var(--manifold-grayscale-base), 0.8);
  --manifold-grayscale-90: rgba(var(--manifold-grayscale-base), 0.9);
  --manifold-grayscale-100: rgba(var(--manifold-grayscale-base), 1);

  /* Inverted Grayscale */
  --manifold-grayscale-0i: rgba(var(--manifold-grayscale-base-inverted), 0);
  --manifold-grayscale-03i: rgba(var(--manifold-grayscale-base-inverted), 0.03);
  --manifold-grayscale-05i: rgba(var(--manifold-grayscale-base-inverted), 0.05);
  --manifold-grayscale-07i: rgba(var(--manifold-grayscale-base-inverted), 0.07);
  --manifold-grayscale-10i: rgba(var(--manifold-grayscale-base-inverted), 0.1);
  --manifold-grayscale-15i: rgba(var(--manifold-grayscale-base-inverted), 0.15);
  --manifold-grayscale-20i: rgba(var(--manifold-grayscale-base-inverted), 0.2);
  --manifold-grayscale-25i: rgba(var(--manifold-grayscale-base-inverted), 0.25);
  --manifold-grayscale-30i: rgba(var(--manifold-grayscale-base-inverted), 0.3);
  --manifold-grayscale-40i: rgba(var(--manifold-grayscale-base-inverted), 0.4);
  --manifold-grayscale-50i: rgba(var(--manifold-grayscale-base-inverted), 0.5);
  --manifold-grayscale-60i: rgba(var(--manifold-grayscale-base-inverted), 0.6);
  --manifold-grayscale-70i: rgba(var(--manifold-grayscale-base-inverted), 0.6);
  --manifold-grayscale-75i: rgba(var(--manifold-grayscale-base-inverted), 0.75);
  --manifold-grayscale-80i: rgba(var(--manifold-grayscale-base-inverted), 0.8);
  --manifold-grayscale-90i: rgba(var(--manifold-grayscale-base-inverted), 0.9);
  --manifold-grayscale-100i: rgba(var(--manifold-grayscale-base-inverted), 1);

  /* Colors */
  --manifold-color-primary: var(--manifold-blue);
  --manifold-color-info: var(--manifold-blue);
  --manifold-color-success: var(--manifold-green);
  --manifold-color-warn: var(--manifold-orange);
  --manifold-color-error: var(--manifold-red);
  --manifold-radius: 4px;
  --manifold-border: 1px solid var(--manifold-grayscale-10);
  --manifold-border-focus: 1px solid var(--manifold-color-primary);

  /* Text */
  --manifold-text-color: var(--manifold-grayscale-100);
  --manifold-text-color-secondary: var(--manifold-grayscale-50);
  --manifold-text-color-body: var(--manifold-grayscale-70);
  --manifold-text-color-accent: var(--manifold-white);

  /* font */
  --manifold-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif,
    'Apple Color Emoji';
  --manifold-font-family-monospace: 'IBM Plex Mono', SFMono-Regular, Consolas, Liberation Mono,
    Menlo, Courier, monospace;

  /* Radii */
  --manifold-radius: 4px;

  /* Borders */
  --manifold-border: 1px solid var(--manifold-grayscale-15);
  --manifold-border-hover: 1px solid var(--manifold-grayscale-30);
  --manifold-border-focus: 1px solid var(--manifold-color-primary);
  --manifold-border-active: 1px solid var(--manifold-color-primary);

  /* Category Colors */
  --manifold-c-authentication: var(--manifold-c-blue-s1);
  --manifold-c-CMS: var(--manifold-c-yellow);
  --manifold-c-cms: var(--manifold-c-yellow);
  --manifold-c-database: var(--manifold-c-orange);
  --manifold-c-logging: var(--manifold-c-black);
  --manifold-c-memory-store: var(--manifold-blue);
  --manifold-c-messaging: var(--manifold-c-red);
  --manifold-c-monitoring: var(--manifold-c-purple);
  --manifold-c-optimization: var(--manifold-c-teal);
  --manifold-c-search: var(--manifold-c-teal);
  --manifold-c-worker: var(--manifold-c-green);

  /* Font Scale */
  --manifold-font-u12: 5.0625em;
  --manifold-font-u11: 4.4225011027em;
  --manifold-font-u10: 3.8634105686em;
  --manifold-font-u9: 3.375em;
  --manifold-font-u8: 2.9483340685em;
  --manifold-font-u7: 2.5756070457em;
  --manifold-font-u6: 2.25em;
  --manifold-font-u5: 1.9655560457em;
  --manifold-font-u4: 1.7170713638em;
  --manifold-font-u3: 1.5em;
  --manifold-font-u2: 1.3103706971em;
  --manifold-font-u1: 1.1447142426em;
  --manifold-font-u0: 1em;
  --manifold-font-d0: 1em;
  --manifold-font-d1: 0.8735804647em;
  --manifold-font-d2: 0.7631428284em;
  --manifold-font-d3: 0.6666666667em;
  --manifold-font-d4: 0.5823869765em;
  --manifold-font-d5: 0.5087618856em;
  --manifold-font-d6: 0.4444444444em;
  --manifold-font-d7: 0.3882579843em;
  --manifold-font-d8: 0.3391745904em;
  --manifold-font-d9: 0.2962962963em;
  --manifold-font-d10: 0.2588386562em;
  --manifold-font-d11: 0.2261163936em;
  --manifold-font-d12: 0.1975308642em;

  /* Easing */

  /* Objects accelerate slowly, reach full velocity, then decelerate. Useful for large interactions or objects of high mass. */
  --manifold-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

  /* Objects start at full velocity, then decelerate. Useful for small interactions that feel snappy and not sluggish. */
  --manifold-ease-out: cubic-bezier(0, 0, 0.2, 1);

  /* Objects leave the screen at full velocity. They do not decelerate when off-screen. */
  --manifold-ease-in: cubic-bezier(0.4, 0, 1, 1);

  /* The sharp curve is used by objects that may return to the screen at any time. */
  --manifold-ease-sharp: cubic-bezier(0.4, 0, 0.6, 1);

  /* Layers */
  --manifold-layer-base: 10;
  --manifold-layer-hover: 20;
  --manifold-layer-nav: 30;

  /* Common Component Properties */

  /* Cards */
  --manifold-card-border: var(--manifold-border);
  --manifold-card-background: var(--manifold-grayscale-100i);
  --manifold-card-radius: var(--manifold-radius);
  --manifold-card-shadow: none;
  --manifold-card-text-color: var(--manifold-text-color);

  /* Input */
  --manifold-input-background: var(--manifold-grayscale-100i);
  --manifold-input-text-color: var(--manifold-text-color);
  --manifold-input-border: var(--manifold-border);
  --manifold-input-radius: var(--manifold-radius);
  --manifold-input-shadow: none;

  /* Input:focus */
  --manifold-input-background-focus: var(--manifold-input-background);
  --manifold-input-border-focus: var(--manifold-border-focus);
  --manifold-input-shadow-focus: var(--manifold-input-shadow);
}
