.container {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    'heading features'
    'details features';
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.heading {
  grid-area: heading;
  margin: 0;
  color: var(--manifold-grayscale-50);
  font-size: var(--manifold-font-d2);
  text-transform: uppercase;
}

.details {
  margin-right: 10vw;
}

.amount {
  font-size: var(--manifold-font-u2);
}

.suffix {
  color: var(--manifold-text-color-alt);
}

.plan-name {
  font-size: var(--manifold-font-d1);
}

.features {
  display: grid;
  grid-area: features;
  grid-template-columns: 1fr 1fr;
  align-self: start;
  margin: 0;
  font-size: var(--manifold-font-d1);
}

.feature-name,
.feature-value {
  margin: 0;
  padding: 0.5rem 0;
  border-top: var(--manifold-border);
  border-top-style: dotted;
}

.feature-name {
  font-weight: 600;
}

/* TODO refactor to use feature table */
.feature-value {
  display: flex;

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.description {
  margin: 0.5em 0;
  color: var(--manifold-text-color-alt);
  font-weight: normal;
  font-size: var(--manifold-font-d1);
}

.feature-table {
  width: 100%;
  min-width: 100%;
  line-height: 1;
  border-collapse: collapse;

  & td {
    width: 50%;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  & tr:nth-of-type(odd) td {
    background-color: rgba(0, 0, 0, 0.03);
  }
}

.icon {
  display: none;
}

.region {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: var(--manifold-font-d1);
  border-top: var(--manifold-border);
  border-top-style: dotted;
  border-bottom: var(--manifold-border);
  border-bottom-style: dotted;
}

.region-label {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.value {
  &[data-value='No'],
  &[data-value='Yes'] {
    font-weight: 600;
    text-transform: uppercase;
  }

  &[data-value='No'] {
    color: var(--manifold-text-color-alt);
  }

  &[data-value='Yes'] {
    color: var(--manifold-color-primary);

    & .icon {
      display: inline-block;
    }
  }

  &[data-locked] {
    opacity: 0.5;

    & .icon {
      display: inline-block;
    }
  }
}
