@custom-media --viewport-m (min-width: 1000px);

:host {
  display: block;
  grid-gap: 2rem;
  grid-template-columns: minmax(300px, 1fr) minmax(300px, 2fr);

  @media (--viewport-m) {
    display: grid;
  }
}

manifold-plan-details {
  position: sticky;
  top: 1rem;
}
