@custom-media --viewport-s (min-width: 450px);
@custom-media --viewport-m (min-width: 650px);

:host {
  --padding: 1rem;

  position: relative;

  @media (--viewport-m) {
    --padding: 2rem;
  }

  /* theme vars */
  --card-background: var(--manifold-card-background);
  --card-border: var(--manifold-card-border);
  --card-shadow: var(--manifold-card-shadow);
  --card-radius: var(--manifold-card-radius);
  --card-text-color: var(--manifold-card-text-color);
  --logo-radius: var(--manifold-product-logo-radius, var(--manifold-radius));

  /* boolean values */
  --yes-color: var(--manifold-color-primary);
  --no-color: var(--manifold-text-color-secondary);
  --locked-color: var(--manifold-text-color-secondary);

  color: var(--manifold-text-color);
  font-family: var(--manifold-font-family);
}

.wrapper {
  &[data-scroll-locked] {
    position: sticky;
    top: 1.5rem;
  }
}

.card {
  padding-top: var(--padding);
  padding-right: var(--padding);
  padding-left: var(--padding);
  color: var(--card-text-color);
  background-color: var(--card-background);
  border: var(--card-border);
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow);
}

.header {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto 1fr;
  align-content: center;
  align-items: center;
}

.logo {
  --logo-size: 2.5rem;

  width: var(--logo-size);
  min-width: var(--logo-size);
  height: var(--logo-size);
  overflow: hidden;
  background: var(--manifold-grayscale-100i);

  @media (--viewport-s) {
    --logo-size: 3rem;
  }

  @media (--viewport-m) {
    --logo-size: 3.5rem;
  }

  & img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    background: white;
    border: 2px solid white;
    border-radius: var(--logo-radius);
  }
}

.plan-name {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--manifold-text-color-heading);
  font-weight: var(--mainfold-font-weight-heading);
  font-size: var(--manifold-font-u3);
  font-family: var(--manifold-font-family-heading);

  @media (--viewport-m) {
    font-size: var(--manifold-font-u4);
  }
}

.product-name {
  margin: 0;
  color: var(--manifold-text-color-secondary);
  font-weight: 600;
  font-size: var(--manifold-font-d2);
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: var(--manifold-font-d1);
  border-bottom: var(--card-border);
  border-bottom-style: dotted;
}

.feature-name,
.feature-value {
  margin: 0;
  padding: 0.5rem 0;
  border-top: var(--card-border);
  border-top-style: dotted;
}

.feature-name {
  font-weight: 600;
}

.description {
  margin: 0.5em 0;
  font-weight: normal;
  font-size: var(--manifold-font-d1);
  opacity: 0.6;
}

.feature-table {
  width: 100%;
  min-width: 100%;
  line-height: 1;
  border-collapse: collapse;

  & td {
    width: 50%;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  & tr:nth-of-type(odd) td {
    background-color: var(--manifold-grayscale-03);
  }
}

.icon {
  display: none;
}

.region {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: var(--manifold-font-d1);
  border-bottom: var(--card-border);
  border-bottom-style: dotted;
}

.region-label {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.value {
  &[data-value='false'],
  &[data-value='true'] {
    font-weight: 600;
    text-transform: uppercase;
  }

  &[data-value='false'] {
    color: var(--no-color);
  }

  &[data-value='true'] {
    color: var(--yes-color);

    & .icon {
      display: inline-block;
    }
  }

  &[data-locked] {
    color: var(--locked-color);
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--padding);
  margin-right: calc(var(--padding) * -1);
  margin-left: calc(var(--padding) * -1);
  padding: calc(var(--padding) * 0.75) var(--padding);
  border-top: var(--card-border);
}
