@custom-media --viewport-s (min-width: 450px);
@custom-media --viewport-m (min-width: 650px);

:host {
  --padding: 1rem;

  position: relative;

  @media (--viewport-m) {
    --padding: 2rem;
  }

  /* theme vars */
  --card-background: var(--manifold-grayscale-100i);
  --card-text-color: var(--manifold-text-color);
  --card-border: var(--manifold-card-border, 1px solid var(--manifold-grayscale-30));
}

.card {
  padding-top: var(--padding);
  padding-right: var(--padding);
  padding-left: var(--padding);
  color: var(--card-text-color);
  background-color: var(--card-background);
  border: var(--card-border);
  border-radius: var(--mf-radius-default);
  box-shadow: 0 0.25rem 0.75rem rgba(var(--mf-c-gray-rgb), 0.2);
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-content: center;
}

.logo {
  --logo-size: 2.5rem;

  width: var(--logo-size);
  min-width: var(--logo-size);
  height: var(--logo-size);
  margin-right: 1rem;
  overflow: hidden;
  border-radius: var(--mf-radius-default);

  @media (--viewport-s) {
    --logo-size: 3rem;
  }

  @media (--viewport-m) {
    --logo-size: 3.5rem;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.plan-name {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: var(--mf-font-u3);
  line-height: 1;

  @media (--viewport-m) {
    font-size: var(--mf-font-u4);
  }
}

.product-name {
  margin: 0;
  color: var(--mf-c-gray);
  font-weight: 600;
  font-size: var(--mf-font-d2);
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

.scroll {
  position: sticky;
  top: 1.5rem;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: var(--mf-font-d1);
}

.feature-name,
.feature-value {
  margin: 0;
  padding: 0.5rem 0;
  border-top: var(--card-border);
  /* stylelint-disable-next-line */
  border-top-style: dotted;
}

.feature-name {
  font-weight: 600;
}

.description {
  margin: 0.5em 0;
  color: var(--mf-c-gray);
  font-weight: normal;
  font-size: var(--mf-font-d1);
}

.feature-table {
  width: 100%;
  min-width: 100%;
  line-height: 1;
  border-collapse: collapse;

  & td {
    width: 50%;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  & tr:nth-of-type(odd) td {
    background-color: rgba(0, 0, 0, 0.03);
  }
}

.icon {
  display: none;
}

.region {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: var(--padding);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: var(--mf-font-d1);
  border-top: var(--card-border);
  border-bottom: var(--card-border);
  /* stylelint-disable-next-line */
  border-top-style: dotted;
  border-bottom-style: dotted;
}

.region-label {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.value {
  &[data-value='No'],
  &[data-value='Yes'] {
    font-weight: 600;
    text-transform: uppercase;
  }

  &[data-value='No'] {
    color: var(--mf-c-gray);
  }

  &[data-value='Yes'] {
    color: var(--mf-c-blue);

    & .icon {
      display: inline-block;
    }
  }

  &[data-locked] {
    opacity: 0.5;
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: calc(var(--padding) * -1);
  margin-left: calc(var(--padding) * -1);
  padding: calc(var(--padding) * 0.75) var(--padding);
  border-top: var(--card-border);
}

.cost {
  flex-grow: 1;
  font-size: var(--mf-font-u1);

  @media (--breakpoint-m) {
    font-size: var(--mf-font-u2);
  }

  & small {
    color: var(--mf-c-gray);
    font-weight: 500;
    font-size: var(--mf-font-d4);
    letter-spacing: 0.0625em;
    text-transform: uppercase;
  }
}
