:host {
  --defaultMargin: 0;
  --marginAlt: 0.375em;
  --marginRight: var(--defaultMargin);
  --marginLeft: var(--defaultMargin);
}

svg {
  width: 1em;
  min-width: 1em;
  height: 1em;
  margin-right: var(--marginRight);
  margin-left: var(--marginLeft);
  transition: color 200ms, fill 200ms;
}
