:host {
  --margin: 0.375em;
  --icon-width: 1em;
  --icon-height: 1em;

  vertical-align: middle;
}

svg {
  width: var(--icon-width);
  height: var(--icon-height);
  transition: color 200ms, fill 200ms;

  &[margin-right] {
    margin-right: var(--margin);
  }

  &[margin-left] {
    margin-left: var(--margin);
  }
}
