:host {
  color: var(--manifold-text-color);
  font-family: var(--manifold-font-family);
}

.no-credentials {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  min-height: var(--height);
  overflow: hidden;
  border-radius: var(--manifold-radius);
  box-shadow: 0 0 0 1px var(--manifold-grayscale-10);
  padding: 2rem;
  align-items: center;
  justify-content: space-between;
}

.message {
  padding-right: 2rem;
  color: var(--manifold-grayscale-70);
}

.sso {
  white-space: nowrap;
}
