:host {
  /* redefining theme variables here so they'll work properly */
  --mf-c-gray: #8f8f95;
  --mf-c-blue: #1e50da;
  --default-color: var(--manifold-grayscale-40);
  --focus-color: var(--manifold-color-primary);

  /* theme */
  --radius: var(--manifold-radius, 4px);
  --border: var(--manfold-border, 1px solid var(--manifold-grayscale-40));
  --border-focus: var(--manfold-border-active, 1px solid var(--manifold-color-primary));
  --background: var(--manifold-grayscale-100i);
  --text-color: var(--manifold-text-color);
}

select {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0.5em 3.5em 0.5em 1em;
  color: var(--text-color);
  font: inherit;
  line-height: 1.5em;
  background-color: var(--background);
  background-image: linear-gradient(45deg, transparent 50%, var(--default-color) 50%),
    linear-gradient(135deg, var(--default-color) 50%, transparent 50%),
    linear-gradient(to right, var(--default-color), var(--default-color));
  background-repeat: no-repeat;
  background-position: calc(100% - 16px) calc(1em + 2px), calc(100% - 11px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  border: var(--border);
  border-radius: var(--radius);
  appearance: none;
}

select:focus {
  background-image: linear-gradient(45deg, transparent 50%, var(--focus-color) 50%),
    linear-gradient(135deg, var(--focus-color) 50%, transparent 50%),
    linear-gradient(to right, var(--focus-color), var(--focus-color));
  border-color: var(--focus-color);
  outline: 0;
}
