.results-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  box-sizing: border-box;
  margin: 0;
  color: var(--text-color);
  font-size: 16px;
  font-family: var(--mf-font-family);
  line-height: 1;
  background-color: var(--background-color);
}
