@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

:host {
  --height: 8rem;
}

.comment {
  color: white;
  opacity: 0.6;
}

.env {
  margin: 0;
  padding: 1.5rem;
  color: #ea62b3;
  font-size: 1em;
  font-family: var(--mf-font-monospace);
  border-radius: var(--mf-radius-default);
}

.env-value {
  color: var(--mf-c-teal);
}

.screen-left,
.screen-right {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: var(--mf-c-gray-t5);
  transition: transform 250ms var(--mf-ease-sharp), opacity 150ms linear;
}

.screen-left {
  left: 0;
  width: calc(50% + 2rem);
}

.screen-right {
  right: 0;
  width: 50%;
}

.hidden {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  font-size: var(--mf-font-d1);
  transition: transform 250ms var(--mf-ease-sharp), opacity 250ms linear;

  & manifold-link-button {
    margin-top: 1rem;
    transform: translateX(-50%);
  }
}

.credential {
  position: relative;
  display: flex;
  min-height: var(--height);
  overflow: hidden;
  color: var(--mf-c-back-60);
  background-color: #18171b;
  background-image: linear-gradient(-45deg, rgba(240, 3, 69, 0.2), rgba(30, 80, 218, 0.2));
  border-radius: var(--mf-radius-default);

  &[data-showing] {
    & .screen-left {
      transform: translateX(calc(-100% - 8rem));
    }

    & .screen-right,
    & .hidden {
      transform: translateX(calc(100% + 8rem));
      pointer-events: none;
    }
  }
}

.secrets {
  height: calc(var(--cred-height) * 1.75rem);
  min-height: var(--height);
  transition: height 300ms var(--mf-ease-in-out);
  will-change: height;
}

.secrets-menu {
  display: flex;
  justify-content: flex-end;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding: 0;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 150ms var(--mf-ease-sharp), opacity 150ms linear;

  &[data-showing] {
    transform: translateY(0);
    opacity: 1;
  }
}
