@keyframes flash {
  to {
    transform: translateX(60em); /* line width shouldn’t be more than this */
  }
}

.img {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-top: 100%;
  overflow: hidden;
  color: transparent;
  font-size: 1em;
  line-height: 0.875;
  border-radius: var(--mf-radius-default);

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--mf-c-black-10);
    border-radius: 0.25em;
    content: '';
    pointer-events: none;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 100%;
    width: 20em; /* derived from font size */
    height: 100%;
    background-image: linear-gradient(45deg, transparent 25%, white, transparent 75%);
    opacity: 0.4;
    animation-name: flash;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    content: '';
    pointer-events: none;
  }
}
