:host {
  --padding: 0.75rem;

  /* theme vars */
  --card-background: var(--manifold-card-background);
  --card-text-color: var(--manifold-text-color);
  --card-border: var(--manifold-card-border);
  --card-radius: var(--manifold-card-radius);
  --card-shadow: var(--manifold-card-shadow, none);
  --card-body-text-color: var(--manifold-text-color-secondary);
  --card-body-background: var(--manifold-grayscale-03);
  --card-inner-border: 1px solid var(--manifold-grayscale-07);

  /* card:hover */
  --card-background-hover: var(--manifold-card-background-hover, var(--manifold-grayscale-80i));
  --card-text-color-hover: var(--manifold-card-color-hover, var(--card-text-color));
  --card-border-hover: var(--manifold-card-border-hover, var(--manifold-border-hover));
  --card-shadow-hover: var(--manifold-card-shadow-hover, var(--card-shadow));
}

.wrapper {
  display: grid;
  grid-template-rows: min-content auto;
  box-sizing: border-box;
  height: 100%;
  text-decoration: none;
  background-color: var(--card-background);
  border: var(--card-border);
  border-radius: var(--card-radius);
  box-shadow: var(--card-shadow, 0 2px 6px rgba(0, 0, 0, 0));
  cursor: pointer;
  transition: border-color 150ms linear, box-shadow 150ms linear;

  &:focus,
  &:hover {
    background-color: var(--card-background-hover);
    border: var(--card-border-hover);
    box-shadow: var(--card-shadow-hover);
  }
}

.heading {
  margin-top: 0;
  margin-bottom: 0;
  padding: var(--padding);
  color: var(--card-text-color);
  font-weight: 400;
  font-size: var(--manifold-font-d1);
  line-height: 1;

  & manifold-icon {
    margin-right: calc(var(--padding) - 0.25em);
  }
}

.body {
  margin: 0;
  padding-top: var(--padding);
  overflow: hidden;
  color: var(--card-body-text-color);
  font-weight: 500;
  font-size: var(--manifold-font-d2);
  letter-spacing: 0.0625em;
  text-transform: uppercase;
  background: var(--card-body-background);
  border-top: var(--card-inner-border);
  border-bottom-right-radius: var(--card-radius);
  border-bottom-left-radius: var(--card-radius);

  & span {
    padding-right: var(--padding);
    padding-left: var(--padding);
  }
}

.service-list-container {
  position: relative;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  padding-left: var(--padding);
  overflow: hidden;
}

.service-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  & li {
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    object-fit: cover;
    overflow: hidden;
    border-radius: var(--manifold-radius);

    & + li {
      margin-left: calc(var(--padding) / 2);
    }
  }

  & img {
    box-sizing: border-box;
    background: white;
    width: 100%;
    height: 100%;
    padding: 2px;
    overflow: hidden;
  }
}
