@custom-media --viewport-m (min-width: 1000px);

:host {
  --padding-small: 1rem;
  --padding-medium: 2rem;
  --padding-xsmall: 0.5rem;

  /* plan button */
  --card-spacing: var(--manifold-card-gap, 1rem);
  --card-border: var(--manifold-card-border);
  --card-radius: var(--manifold-card-radius);
  --card-background: var(--manifold-card-background);
  --card-color: var(--manifold-card-text-color);
  --card-shadow: var(--manifold-card-shadow);
  --card-price-text-color: var(--manifold-text-color-secondary);

  /* hover/focus */
  --card-border-hover: var(--manifold-card-border-hover, var(--manifold-border-hover));
  --card-background-hover: var(--manifold-card-background-hover, var(--card-background));
  --card-color-hover: var(--manifold-card-text-color-hover, var(--card-color));
  --card-shadow-hover: var(--manifold-card-shadow-hover);

  /* active */
  --card-background-active: var(--manifold-card-background-active, var(--card-background-hover));
  --card-border-active: var(--manifold-card-border-active, var(--manifold-border-active));
  --card-color-active: var(--manifold-card-text-color-active, var(--manifold-color-primary));
  --card-shadow-active: var(--manifold-card-shadow-active);

  color: var(--manifold-text-color);
  font-family: var(--manifold-font-family);
}

.plan-list {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.75rem;
  margin: 0;
  padding: 0;
  overflow: auto;
  list-style: none;

  @media (--viewport-m) {
    grid-auto-flow: row;
    grid-gap: var(--card-spacing, 0);
    padding: 1px 0.25rem; /* border offset */
    overflow: visible;
    white-space: nowrap;
  }
}

.plan-button {
  display: inline-block;
  margin: 0.5rem 0;
  border-top: none;

  @media (--viewport-m) {
    min-width: max-content;
    margin: 0;

    /* TODO move to Manifold theme */
    border-top: 1px solid rgba(var(--manifold-c-gray-rgb), 0.25);
  }
}

.plan-button label {
  display: grid;
  grid-template-areas: 'overlap';
  min-width: 8rem;
  margin: 0;
  cursor: pointer;

  @media (--viewport-m) {
    margin: -1px -0.25rem; /* border offset */
  }
}

[type='radio'],
.plan-button-inner {
  grid-area: overlap;
}

[type='radio'] {
  opacity: 0;
}

.plan-button-inner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: max-content;
  padding-top: 0.75rem;
  padding-right: 2rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  overflow: hidden;
  color: var(--card-color);
  white-space: nowrap;
  text-align: left;
  background: var(--card-background);
  border: var(--card-border);
  border-radius: var(--card-radius);
  transition: background-color 200ms linear, border-color 200ms linear, box-shadow 200ms linear;
  appearance: none;

  @media (--viewport-m) {
    min-width: 0;
    margin-left: 0;
    border: var(--card-border, 1px solid transparent);
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--manifold-card-icon-background, var(--manifold-color-primary));
    border-bottom-left-radius: var(--card-radius);
    transform: scale(0.5);
    transform-origin: 100% 0;
    opacity: 0;
    transition: opacity 100ms linear, transform 200ms ease-out;
    content: '';
  }

  &:focus,
  &:hover {
    background: var(--card-background-hover);
    border: var(--card-border-hover, var(--card-border));
    box-shadow: var(--card-shadow-hover);
  }
}

.check-icon {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  z-index: 5;
  width: 1rem;
  height: 1rem;
  color: var(--manifold-text-color-accent);
  transform: translateY(1rem);
  opacity: 0;
  transition: opacity 100ms linear 50ms, transform 200ms ease-in-out;
  pointer-events: none;
}

[type='radio']:checked ~ .plan-button-inner {
  z-index: 5;
  color: var(--card-color-active);
  background: var(--card-background-active);
  border: var(--card-border-active);
  box-shadow: var(--card-shadow-active, 0 0 0.5rem 0.25rem rgba(var(--manifold-c-blue-rgb), 0.15));

  &::after {
    transform: scale(1);
    opacity: 1;
  }

  &:hover {
    box-shadow: var(--card-shadow-hover, 0 0 0.5rem rgba(var(--manifold-c-blue-rgb), 0.5));
  }

  & .check-icon {
    transform: translateY(0);
    opacity: 1;
  }
}

.cost {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
  color: var(--card-price-text-color);
  font-size: var(--manifold-font-d1);
  transition: opacity 100ms linear;

  & > span {
    margin-right: 0.25em;
  }
}

manifold-badge {
  margin-top: 0.5em;
  font-size: var(--manifold-font-d4);
}

.custom-icon {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  color: var(--manifold-grayscale-40);
  transition: opacity 100ms linear;

  &[data-hidden] {
    opacity: 0;
  }
}
