@custom-media --viewport-m (min-width: 1000px);

:host {
  --padding-small: 1rem;
  --padding-medium: 2rem;
  --padding-xsmall: 0.5rem;

  /* plan button */
  --plan-button-spacing: var(--manifold-card-gap, 0.75rem);
  --plan-button-border: var(
    --manifold-card-border,
    var(--manifold-border, 1px solid var(--manifold-grayscale-20))
  );
  --plan-button-radius: var(--manifold-card-radius, var(--manifold-radius, 4px));
  --plan-button-background: var(--manifold-grayscale-100i);
  --plan-button-color: var(--manifold-text-color, inherit);
  --plan-button-shadow: var(--manifold-card-shadow, none);

  /* hover/focus */
  --plan-button-border-hover: var(--manifold-card-border-hover, var(--plan-button-border));
  --plan-button-background-hover: var(
    --manifold-card-background-hover,
    var(--plan-button-background)
  );
  --plan-button-color-hover: var(--manifold-card-color-hover, var(--plan-button-color));
  --plan-button-shadow-hover: var(--manifold-card-shadow-hover, none);

  /* active */
  --plan-button-background-active: var(
    --manifold-card-background-active,
    var(--manifold-grayscale-100i)
  );
  --plan-button-border-active: var(
    --manifold-card-border-active,
    1px solid var(--manifold-color-primary)
  );
  --plan-button-color-active: var(--manifold-card-color-active, var(--manifold-color-primary));
  --plan-button-shadow-active: var(--manifold-card-shadow-active, none);

  color: var(--manifold-text-color);
  font-family: var(--manifold-font-family);
}

.plan-list {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.75rem;
  margin: 0;
  padding: 0;
  overflow: auto;
  list-style: none;

  @media (--viewport-m) {
    grid-auto-flow: row;
    grid-gap: var(--plan-button-spacing, 0);
    padding: 1px 0.25rem; /* border offset */
    overflow: visible;
    white-space: nowrap;
  }
}

.plan-button {
  display: inline-block;
  margin: 0.5rem 0;
  border-top: none;

  @media (--viewport-m) {
    min-width: max-content;
    margin: 0;
    border-top: 1px solid rgba(var(--manifold-c-gray-rgb), 0.25);
  }
}

.plan-button label {
  display: grid;
  grid-template-areas: 'overlap';
  min-width: 8rem;
  margin: 0;

  @media (--viewport-m) {
    margin: -1px -0.25rem; /* border offset */
  }
}

[type='radio'],
.plan-button-inner {
  grid-area: overlap;
}

[type='radio'] {
  opacity: 0;
}

.plan-button-inner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: max-content;
  padding-top: 0.75rem;
  padding-right: 2rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  overflow: hidden;
  color: var(--plan-button-color);
  white-space: nowrap;
  text-align: left;
  background-color: transparent;
  border: var(--plan-button-border);
  border-radius: var(--plan-button-radius);
  box-shadow: 0 0 0.5rem 0.25rem rgba(var(--manifold-c-blue-rgb), 0);
  transition: background-color 200ms linear, border-color 200ms linear, box-shadow 200ms linear;
  appearance: none;

  @media (--viewport-m) {
    min-width: 0;
    margin-left: 0;
    border: var(--plan-button-border, 1px solid transparent);
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--manifold-card-icon-background, var(--manifold-color-primary));
    border-bottom-left-radius: var(--plan-button-radius);
    transform: scale(0.5);
    transform-origin: 100% 0;
    opacity: 0;
    transition: opacity 100ms linear, transform 200ms ease-out;
    content: '';
  }

  &:focus,
  &:hover {
    background: var(--plan-button-background-hover);
    border: var(
      --plan-button-border-hover,
      var(--plan-button-border, 1px solid var(--manifold-c-gray-t3))
    );
    box-shadow: var(--plan-button-shadow-hover, 0 0 0.5rem rgba(var(--manifold-c-gray-rgb), 0.5));
  }
}

.check-icon {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  z-index: 5;
  width: 1rem;
  height: 1rem;
  color: var(--manifold-text-color-accent);
  transform: translateY(1rem);
  opacity: 0;
  transition: opacity 100ms linear, transform 200ms ease-in-out;
  pointer-events: none;
}

[type='radio']:checked ~ .plan-button-inner {
  z-index: 5;
  color: var(--plan-button-color-active);
  background: var(--plan-button-background-active);
  border: var(--plan-button-border-active);
  box-shadow: var(
    --plan-button-shadow-active,
    0 0 0.5rem 0.25rem rgba(var(--manifold-c-blue-rgb), 0.15)
  );

  &::after {
    transform: scale(1);
    opacity: 1;
  }

  &:hover {
    box-shadow: var(--plan-button-shadow-hover, 0 0 0.5rem rgba(var(--manifold-c-blue-rgb), 0.5));
  }

  & .check-icon {
    transform: translateY(0);
    opacity: 1;
  }
}

.cost {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
  font-size: var(--manifold-font-d1);
  opacity: 0.7;
  transition: opacity 100ms linear;

  & > span {
    margin-right: 0.25em;
  }
}

manifold-badge {
  margin-top: 0.5em;
  font-size: var(--manifold-font-d4);
}

.custom-icon {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  color: var(--manifold-c-gray);
  transition: opacity 100ms linear;

  &[data-hidden] {
    opacity: 0;
  }
}
