:host {
  --button-background: var(--manifold-grayscale-05);
  --text-color: var(--manifold-input-text-color);
  --range-text-color: var(--manifold-text-color-secondary);

  /* field */
  --input-background: var(--manifold-input-background);
  --input-placeholder-color: var(--manifold-text-color-secondary);
  --input-border: var(--manfold-input-border);
  --input-shadow: var(--manifold-input-shadow);
  --radius: var(--manifold-input-radius);

  /* field:focus */
  --input-background-focus: var(--input-background-focus);
  --input-border-focus: var(--input-border-focus);
  --input-shadow-focus: var(--input-shadow);
}

.container {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: 1fr 2fr 1fr;
  max-width: 150px;
}

.field {
  box-sizing: border-box;
  width: auto;
  min-width: 4rem;
  padding: 0.5em 0.75em;
  color: var(--text-color);
  font-size: 1em;
  text-align: center;
  background: var(--input-background);
  border: var(--input-border);
  border-radius: var(--radius);
  box-shadow: var(--input-shadow);
  -webkit-appearance: none;
  -moz-appearance: textfield; /* hides up/down buttons on firefox */
  font-variant-ligatures: none;

  &::placeholder {
    color: var(--input-placeholder-color);
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    display: none;
  }

  &::-webkit-input-placeholder {
    color: var(--input-placeholder-color);
  }

  &:focus {
    background: var(--input-background-focus);
    border: var(--input-border-focus);
    outline: 0;
    box-shadow: var(--input-shadow-focus);
  }
}

.increment,
.decrement {
  padding: 0 0.5em;
  color: var(--text-color);
  font-size: 1.25em;
  background-color: var(--button-background);
  border: none;
  border-radius: var(--radius);

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(87, 100, 198, 0.3);
  }

  &:active {
    background-color: var(--button-background-active);
  }
}

.display-units {
  grid-row: 2;
  grid-column: 1 / -1;
  margin-top: 0.25em;
  color: var(--range-text-color);
  font-size: var(--manifold-font-d1);
  text-align: center;
}

.field:invalid {
  border-color: var(--manifold-color-error);

  & ~ .display-units {
    color: var(--manifold-color-error);
  }
}
