@custom-media --viewport-s (min-width: 600px);

:host {
  --grid-s: 1rem;
  --grid-m: 1.5rem;

  /* theme */
  --link-color: var(--manifold-grayscale-50);
  --link-color-active: var(--manifold-color-primary);
  --link-color-hover: var(--manifold-color-primary);
  --heading-color: var(--manifold-grayscale-60);
  --heading-border: 1px solid var(--manifold-grayscale-10);

  /* search */
  --search-text-color: var(--manifold-grayscale-100);
  --search-background: var(--manifold-grayscale-05);
  --search-border: 1px solid var(--manifold-grayscale-05);
  --search-radius: var(--manifold-radius);
  --search-placeholder-color: var(--manifold-grayscale-50);

  /* search:focus */
  --search-background-focus: var(--manifold-grayscale-100i);

  color: var(--manifold-text-color);
  font-family: var(--manifold-font-family);
}

.wrapper {
  display: grid;
  grid-gap: var(--grid-s);
  grid-template-areas: 'search' 'services';
  grid-template-rows: min-content auto;

  &[data-categorized] {
    @media (--viewport-s) {
      grid-gap: var(--grid-m);
      grid-template-areas: 'search search' 'categories services';
      grid-template-columns: 12rem auto;
    }
  }
}

.category-list {
  display: none;
  grid-area: categories;

  &[data-categorized] {
    @media (--viewport-s) {
      display: block;
    }
  }
}

.category-list-button {
  margin: 0.25rem 0;
  padding: 0.25em 0;
  color: var(--link-color);
  font-size: var(--manifold-font-d1);
  text-align: left;
  text-transform: capitalize;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 150ms linear;

  &[data-active] {
    color: var(--link-color-active);
  }

  &:hover,
  &:focus {
    color: var(--link-color-hover);
    outline: 0;
  }
}

.category-list-scroll {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.category-heading {
  position: sticky;
  top: 0;
  left: 0;
  z-index: var(--manifold-layer-hover);
  grid-column: 1 / -1; /* always start new row, and span full row */
  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
  margin-bottom: var(--grid-s);
  padding-top: var(--grid-s);
  padding-bottom: var(--grid-s);
  color: var(--heading-color);
  font-weight: 400;
  font-size: 1em;
  font-family: var(--manifold-font-family);
  text-transform: capitalize;
  border-bottom: var(--heading-border);

  @media (--viewport-s) {
    position: static;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: var(--manifold-font-u1);
    background: transparent;
    border-bottom: none;
  }

  & manifold-icon {
    margin-right: 0.5rem;
  }
}

.service-grid {
  display: grid;
  grid-area: services;
  grid-gap: var(--grid-s);
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.search {
  grid-area: search;
  padding: 0.75rem;
  padding-right: 0;
  color: var(--search-text-color);
  font-size: 1em;
  background: var(--search-background);
  border: var(--search-border);
  border-radius: var(--search-radius);
  box-shadow: rgba(0, 0, 0, 0) 0 2px 8px;
  transition: background-color 100ms linear;
  -webkit-appearance: none;

  &:focus {
    background-color: var(--search-background-focus);
    outline: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 8px;
  }

  &::placeholder {
    color: var(--search-placeholder-color);
  }
}
