a {
  --padding-left-default: 1.5em;
  --padding-left-alt: 1em;
  --padding-left: var(--padding-left-default);

  /* default state */
  --color: var(--mf-c-grayDarker);
  --background: var(--mf-c-white);
  --border-color: var(--mf-c-border);

  /* hover & focus */
  --hover-color: var(--mf-c-black);
  --hover-background: var(--background);
  --hover-border-color: var(--mf-c-borderDark);

  /* active */
  --active-color: var(--mf-c-grayDarker);
  --active-background: var(--background);
  --active-border-color: var(--border-color);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 2.5rem;
  padding-top: 0.75em;
  padding-right: 1.5em;
  padding-bottom: 0.75em;
  padding-left: var(--padding-left);
  color: var(--color);
  font-weight: var(--mf-font-semibold);
  font-size: 15px;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  background: var(--background);
  border: 1px solid var(--border-color);
  border-radius: var(--mf-radius-m);
  box-shadow: var(--mf-shadow-default);
  cursor: pointer;
  transition: background-color 200ms, border-color 150ms, color 200ms;

  &:focus,
  &:hover {
    filter: saturate(120%);
  }

  &:active {
    box-shadow: var(--mf-shadow-transparent);
    transform: translateY(1px);
    filter: brightness(90%);
  }

  &:focus,
  &:active {
    outline: 0;
  }
}

[data-kind~='cta'] {
  color: var(--mf-c-white);
  background: var(--mf-g-cta);
  border: 0;

  &:focus,
  &:hover {
    filter: saturate(130%);
  }

  &:active {
    filter: brightness(90%);
  }
}
