:host {
  color: var(--manifold-text-color);
  font-family: var(--manifold-font-family);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.icon {
  display: inline-flex;
  align-items: center;
  margin-right: 0.5em;

  & manifold-icon {
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

.icon-status {
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  background: var(--status-color);
  border-radius: 50%;
  content: '';
}

.status {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 2.75rem;
  padding-right: 1.5rem;
  padding-left: 1rem;
  color: var(--manifold-grayscale-60);
  text-transform: lowercase;

  &[data-status='available'],
  &[data-status='AVAILABLE'] {
    --status-color: var(--manifold-color-success);
  }

  &[data-status='provision'],
  &[data-status='CREATING'],
  &[data-status='UPDATING'],
  &[data-status='DELETING'] {
    --status-color: var(--manifold-color-info);
  }

  &[data-status='degraded'],
  &[data-status='ERROR_CREATING'],
  &[data-status='ERROR_UPDATING'],
  &[data-status='ERROR_DELETING'] {
    --status-color: var(--manifold-color-warn);
  }

  &[data-status='loading'] {
    --status-color: var(--manifold-grayscale-20);
  }

  &[data-status='deprovision'],
  &[data-status='offline'],
  &[data-status='DELETED'] {
    --status-color: var(--manifold-color-error);
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--status-color);
    border-radius: var(--manifold-tag-radius, var(--manifold-radius));
    opacity: 0.1;
    content: '';
  }

  & span::first-letter {
    text-transform: uppercase;
  }

  & .icon,
  & .icon-status,
  & manifold-icon {
    width: 0.75rem;
    height: 0.75rem;
  }

  &[data-size='small'] {
    height: 1.5rem;
    padding-right: 0.75rem;
    padding-left: 0.5rem;
    font-size: var(--manifold-font-d1);

    & .icon,
    & .icon-status,
    & manifold-icon {
      width: 0.5rem;
      height: 0.5rem;
    }
  }

  &[data-size='xsmall'] {
    height: 1.5rem;
    padding-right: 0;
    padding-left: 0;
    font-size: var(--manifold-font-d1);

    &::before {
      display: none;
    }

    & .icon,
    & .icon-status,
    & manifold-icon {
      width: 0.5rem;
      height: 0.5rem;
    }
  }
}
