:host {
  color: var(--manifold-text-color);
  font-family: var(--manifold-font-family);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.icon {
  display: inline-flex;
  align-items: center;
  margin-right: 0.5em;

  & manifold-icon {
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

.icon-status {
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  content: '';
  border-radius: 50%;
  background: var(--status-color);
}

.status {
  --status-color: var(--manifold-color-success);

  &[data-status='provision'] {
    --status-color: var(--manifold-color-info);
  }

  &[data-status='degraded'] {
    --status-color: var(--manifold-color-warn);
  }

  &[data-status='loading'] {
    --status-color: var(--manifold-grayscale-20);
  }

  &[data-status='offline'] {
    --status-color: var(--manifold-color-error);
  }

  position: relative;
  display: inline-flex;
  align-items: center;
  height: 2.75rem;
  padding-right: 1.5rem;
  padding-left: 1rem;
  color: var(--manifold-grayscale-60);

  &::before {
    border-radius: var(--manifold-tag-radius, var(--manifold-radius));
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--status-color);
    opacity: 0.1;
    content: '';
  }

  & .icon,
  & .icon-status,
  & manifold-icon {
    width: 0.75rem;
    height: 0.75rem;
  }

  &[data-size='small'] {
    height: 1.5rem;
    padding-right: 0.75rem;
    padding-left: 0.5rem;
    font-size: var(--manifold-font-d1);

    & .icon,
    & .icon-status,
    & manifold-icon {
      width: 0.5rem;
      height: 0.5rem;
    }
  }

  &[data-size='xsmall'] {
    height: 1.5rem;
    padding-left: 0;
    padding-right: 0;
    font-size: var(--manifold-font-d1);

    &::before {
      display: none;
    }

    & .icon,
    & .icon-status,
    & manifold-icon {
      width: 0.5rem;
      height: 0.5rem;
    }
  }
}
