:host {
  --radius: var(--manifold-radius);
  --background: var(--manifold-color-primary);
  --color: var(--manifold-text-color-accent);
  --padding: var(--manifold-button-padding);
  --border: 0;
  --font-size: var(--manifold-button-font-size, inherit);
  --manifold-shadow-default: 0 2px 6px rgba(31, 31, 38, 0.1);
  --manifold-shadow-transparent: 0 2px 6px rgba(31, 31, 38, 0);

  /* Theme */
  --background: var(--manifold-button-background, var(--manifold-color-primary));
  --background-hover: var(--manifold-button-background-hover, var(--background));
  --border: var(--manifold-button-border, 0);
  --border-hover: var(--manifold-button-border-hover, var(--border));
  --shadow: var(--manifold-button-shadow, none);
  --shadow-hover: var(--manifold-button-shadow-hover, var(--shadow));
}

a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  padding: var(--padding, 1em 1.5em);
  color: var(--color);
  font-size: var(--font-size);
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  background: var(--background);
  border: var(--border);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: filter 200ms linear, border-color 200ms linear, color 200ms linear,
    box-shadow 100ms linear;

  &:focus,
  &:hover {
    background: var(--background-hover);
    border: var(--border-hover);
    box-shadow: var(--shadow-hover);
    filter: saturate(130%);
  }

  &:active {
    transform: translateY(1px);
    filter: brightness(90%);
  }

  &:focus,
  &:active {
    outline: 0;
  }

  &[data-color='white'] {
    color: var(--manifold-grayscale-70);
    background: var(--manifold-grayscale-100i);
    border: 1px solid var(--manifold-grayscale-20);

    &:focus,
    &:hover {
      border-color: var(--manifold-grayscale-40);
    }
  }

  &[data-color='black'] {
    color: var(--manifold-grayscale-90i);
    background: var(--manifold-grayscale-100);
    border-color: var(--manifold-grayscale-100);

    &:focus,
    &:hover {
      filter: brightness(150%);
    }
  }

  &[data-size='small'] {
    height: 2.25rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    font-size: var(--manifold-font-d1);
  }
}
