a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 2.375rem;
  padding-right: 1.5em;
  padding-left: 1.5em;
  color: var(--mf-c-white);
  font-size: 15px;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  background: var(--mf-g-cta);
  border: 0;
  border-radius: var(--mf-radius-m);
  box-shadow: var(--mf-shadow-default);
  cursor: pointer;
  transition: filter 200ms linear, border-color 200ms linear, color 200ms linear;

  &:focus,
  &:hover {
    filter: saturate(130%);
  }

  &:active {
    box-shadow: var(--mf-shadow-transparent);
    transform: translateY(1px);
    filter: brightness(90%);
  }

  &:focus,
  &:active {
    outline: 0;
  }

  &[data-color='white'] {
    color: var(--mf-c-black70);
    background: white;
    border: 1px solid var(--mf-c-black-20);

    &:focus,
    &:hover {
      border-color: var(--mf-c-black-40);
    }
  }

  &[data-color='black'] {
    color: var(--mf-c-offWhite);
    background: var(--mf-c-black);
    border-color: var(--mf-c-black);

    &:focus,
    &:hover {
      filter: brightness(150%);
    }
  }

  &[data-size='small'] {
    height: 2.25rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    font-size: var(--mf-font-d1);
  }
}
