:host {
  --logo-overlap: 2rem;

  display: flex;
  flex-direction: column;
  padding-top: var(--logo-overlap);
}

* {
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  color: var(--mf-c-white);
  font-weight: 300;
  font-size: 1em;
  font-family: var(--mf-font-family);
  text-align: center;
  text-decoration: none;
  background-color: var(--mf-c-black);
  background-image: linear-gradient(to right top, #222, #444);
  background-image: var(--background-gradient);
  border-radius: var(--mf-radius-m);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.17);
}

.logo-wrapper {
  width: 32.5%;
  min-width: 3rem;
  margin-top: -2rem;
}

.logo {
  display: block;
  width: 100%;
  height: auto;
  border-radius: var(--mf-radius-m);
  object-fit: contain;
}

.title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: inherit;
  font-size: var(--mf-font-u2);
  line-height: 1.2;
  text-align: center;
}

.description {
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0.8;
}
