:host {
  display: inline-flex;
  align-items: center;
  padding: var(--manifold-tag-padding, 0.25em 1em);
  color: var(--manifold-tag-text-color, var(--manifold-text-color-accent));
  font-weight: var(--manifold-tag-font-weight, 900);
  font-size: var(--manifold-font-d2);
  line-height: 1.5;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
  background: var(--manifold-color-secondary);
  border-radius: var(--manifold-tag-radius, 3em);

  /* TODO: move .tag styles from service-card to here and unify naming */
}
