.cost {
  display: flex;
  align-items: center;
  color: inherit;

  & small {
    opacity: 0.6;
  }

  &[data-compact] {
    & small {
      display: none;
    }
  }
}

.starting {
  margin-right: 0.25em;
}
