.category-container {
  padding: 1.5rem 0;
  border-top: 1px solid var(--mf-c-grayLight);

  &:first-child {
    padding-top: 0;
    border: none;
  }
}

.category {
  margin: 0;
  padding-bottom: 1rem;
  color: var(--mf-c-gray-s1);
  font-weight: 400;
  font-size: var(--mf-font-u2);
  font-family: var(--mf-font-family);
  text-transform: capitalize;
}

.browse-catalog {
  position: relative;
  display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: 12rem auto;
}

.search-bar {
  width: 100%;
  padding: 0.75rem;
  padding-right: 0;
  border: 1px solid #d3d3d4;
  border-radius: 0.25rem;
}

.search-bar::placeholder {
  color: var(--mf-c-gray);
}

.category-sidebar {
  position: relative;
}

.category-sidebar-inner {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.category-buttons {
  display: flex;
  flex-direction: column;
}

.category-button {
  margin: 0.25rem 0;
  padding: 0.25rem 0;
  padding-left: 1rem;
  color: var(--mf-c-gray);
  font-size: var(--mf-font-d1);
  text-align: left;
  text-transform: capitalize;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &.is-active {
    color: var(--mf-c-grayDarker);
  }

  &:focus {
    color: var(--mf-c-blue);
    outline: 0;
  }

  &.big {
    color: var(--mf-c-grayDarker);
    font-size: var(--mf-font-d0);

    &:hover {
      color: var(--mf-c-gray);
      box-shadow: 2px 0 rgba(var(--mf-c-blue-rgb), 0.2) inset;
    }

    &:focus,
    &.is-active {
      color: var(--mf-c-blue);
      outline: 0;
      box-shadow: 2px 0 var(--mf-c-blue) inset;
    }
  }
}

.results {
  margin-top: 1rem;
}
