.wrapper {
  display: grid;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  margin: 0;
  padding: 8px;
  color: var(--mf-text-color);
  font-size: 16px;
  font-family: var(--mf-font-family);
  line-height: 1;
  background-color: var(--background-color);
}

.category {
  text-transform: capitalize;
  color: var(--mf-c-gray-s1);
  font-family: var(--mf-font-family);
  font-size: var(--mf-font-u2);
  font-weight: 400;
}
