.wrapper {
  display: grid;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  margin: 0;
  padding: 8px;
  color: var(--mf-text-color);
  font-size: 16px;
  font-family: var(--mf-font-family);
  line-height: 1;
  background-color: var(--background-color);
}

.category {
  color: var(--mf-c-gray-s1);
  font-weight: 400;
  font-size: var(--mf-font-u2);
  font-family: var(--mf-font-family);
  text-transform: capitalize;
}

.browse-catalog {
  position: relative;
  display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: 12rem auto;
}

.category-sidebar {
  position: relative;
}

.category-sidebar-inner {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.category-button {
  margin: 0.25rem 0;
  padding: 0.25rem 0;
  padding-left: 1rem;
  color: var(--mf-c-gray);
  font-size: var(--mf-font-d1);
  text-align: left;
  text-transform: capitalize;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.category-button.active {
  color: var(--mf-c-grayDarker);
}
