@custom-media --viewport-s (min-width: 450px);
@custom-media --viewport-m (min-width: 750px);
@custom-media --viewport-l (min-width: 1080px);

.wrapper {
  display: grid;
  grid-gap: 1.5rem;
  box-sizing: border-box;
  margin: 0;
  padding: 8px;
  color: var(--mf-text-color);
  font-size: 16px;
  font-family: var(--mf-font-family);
  line-height: 1;
  background-color: var(--background-color);

  @media (--viewport-m) {
    grid-template-columns: 1fr 1fr;
  }

  @media (--viewport-l) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.category {
  color: var(--mf-c-gray-s1);
  font-weight: 400;
  font-size: var(--mf-font-u2);
  font-family: var(--mf-font-family);
  text-transform: capitalize;
}
